.bx-set-constructor{
	background:#fff;
	padding: 2.6rem 2.6rem;
	margin-bottom: 20px;
}

.bx-modal-small-title{
	display: block;
	margin-top: 10px;
	font-size:15px;
	font-weight:bold;
	margin-bottom: 20px;
}

.bx-original-item-container{
	text-align: center;
	margin-bottom: 20px;
}
.bx-original-item-container .title-set{margin: 0px 0px 5px;}
.bx-original-item-image{
	width: 70px;
	height: auto;
}

.bx-modal-description{
	font-size: 80%;
	color: #8E8E8E;
}
/*.bx-touch .bx-added-item-table-container{margin: 0;}*/
.bx-added-item-table{
	/*border-bottom: 1px solid #edeef0;*/
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
	/**/
	table-layout: fixed;
}
.bx-added-item-table tr{border: 1px solid #ececec;}
.bx-added-item-table-cell-itemname,
.bx-added-item-table-cell-img,
.bx-added-item-table-cell-del,
.bx-added-item-table-cell-price{
	padding: 6px 10px;
	/*border-top: 1px solid #edeef0;*/
}
.bx-added-item-table-cell-price{
	width: 150px;
	text-align: right;
}
.bx-added-item-table-cell-img{padding-left: 20px;width: 74px;}
.bx-added-item-table-cell-del{
	width: 56px;
	height: 56px;
	text-align: center;
}
.bx-added-item-table-cell-img img{display: inline-block;}
.bx-added-item-table-cell-del{text-align: center;}
.bx-added-item-new-price{white-space: nowrap;}

.bx-added-item-delete{
	display: inline-block;
	width: 15px;
	height: 15px;
	cursor: pointer;
	background: url(data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAABaAAD/4QMraHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLwA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/PiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA1LjMtYzAxMSA2Ni4xNDU2NjEsIDIwMTIvMDIvMDYtMTQ6NTY6MjcgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDUzYgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjRDMkRGNUY2QjgzMTExRTRCNDgzQ0YwMDY1Mzg5OUZBIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjRDMkRGNUY3QjgzMTExRTRCNDgzQ0YwMDY1Mzg5OUZBIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NEMyREY1RjRCODMxMTFFNEI0ODNDRjAwNjUzODk5RkEiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NEMyREY1RjVCODMxMTFFNEI0ODNDRjAwNjUzODk5RkEiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7/7gAOQWRvYmUAZMAAAAAB/9sAhAABAQEBAQEBAQEBAgEBAQICAgEBAgICAgICAgICAwIDAwMDAgMDBAQEBAQDBQUFBQUFBwcHBwcICAgICAgICAgIAQEBAQICAgUDAwUHBQQFBwgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAj/wAARCAAJAAkDAREAAhEBAxEB/8QAawAAAwEAAAAAAAAAAAAAAAAAAAUICgEAAwEBAAAAAAAAAAAAAAAAAAEEAwUQAAEDAgMJAAAAAAAAAAAAAAMCBAYSBQATCEJyI7XVlgdXOBEAAgIBBQAAAAAAAAAAAAAAAAFRIgIRMYGhQv/aAAwDAQACEQMRAD8A1KSiUXhneJpFYrNL850qOb8EU/n4QrentZ3qyEes2b0hFFW0WVSc0tKqatqri9HHFaJtWIm42LOyNPXsxPe1z6hiS8dG9JAHz15M3ZtzO4YPa4DwxrhDP//Z) no-repeat center;
}

/*.bx-added-item-table-cell-del .bx-added-item-delete-text{display: none;}*/

.bx-item-set-result-block{text-align: center;}

.bx-added-item-old-price {
	padding: 0 0;
	color: #B8B8B8;
	text-decoration: line-through;
	font-size: 11px;
	line-height: 11px;
	white-space: nowrap;
}

.bx-constructor-result-table{width:100%;}
.bx-constructor-result-table td{
	padding-top:2px;
	padding-bottom:2px;
	vertical-align: bottom;
	background: url('../../../../images/dots.png') 0px 13px repeat-x;
}
.bx-constructor-result-table-title{
	/*font-size:13px;*/
	/*text-align: right;*/
	padding-right:15px;
	/*line-height:20px;*/
}
.bx-constructor-result-table-title span{background: #fff;padding-right: 10px;}
body .bx-constructor-result-table-value{
	padding-left:15px;
	/*text-align: right;*/
	background: #fff;
}
.bx-constructor-result-table-value strong{
	/*font-size:14px;*/
	/*line-height:14px;*/
	white-space: nowrap;
}

.bx-constructor-result-btn-container{
	text-align: center;
	margin: 10px;
}
@media (max-width:768px){
	.bx-constructor-result-btn-container{
		display: inline-block;
		max-width:140px;
		width:100%;
		vertical-align: middle;
	}
}
.bx-constructor-result-price{
	display: inline-block;
	max-width:140px;
	width:100%;
	text-align: center;
	border:1px solid #d3d3d3;
	line-height: 1.5;
	padding: 5px 0;
	font-weight: bold;
	border-radius:2px;
	white-space: nowrap;
	height:30px;
	box-sizing: border-box;
}
.bx-constructor-result-btn-container .btn{
	display: inline-block;
	max-width:140px;
	width:100%;
}

div[data-role="slider-parent-container"]{margin:0px -40px;}
div[data-role="slider-parent-container"] > div{padding: 0px;}

/**/
.bx-catalog-set-topsale-slider{
	border:1px solid #ececec;
	/*border-radius:3px;*/
	position: relative;
	background: #f9f9f9;
	margin-bottom:20px;
	margin-top:12px;
}
.bx-catalog-set-topsale-slider:before{
	content:"";
	display: block;
	width: 11px;
	height:11px;
	position: absolute;
	left: 50%;
	border-top: 1px solid #ececec;
	border-left:1px solid #ececec;
	background-color: #f9f9f9;
	-webkit-transform: rotate(45deg) translateX(-15px) translateY(-8px);
	   -moz-transform: rotate(45deg) translateX(-15px) translateY(-8px);
		-ms-transform: rotate(45deg) translateX(-15px) translateY(-8px);
		 -o-transform: rotate(45deg) translateX(-15px) translateY(-8px);
			transform: rotate(45deg) translateX(-15px) translateY(-8px);
	top: 10px;
}
.bx-catalog-set-topsale-slider-container{
	overflow-y: hidden;
	overflow-x: auto;
	position: relative;
	-webkit-overflow-scrolling: touch;
	padding: 0px 1px;
}
.bx-catalog-set-topsale-slider .bx-catalog-set-item{
	border:1px solid #ececec;
	border-radius:3px;
	margin:0 -1px;
}
.bx-catalog-set-topsale-slider-box{
	position: relative;
	padding:19px 19px;
}

.bx-catalog-set-topsale-slids{width: 50%;}
.bx-catalog-set-item-container{
	position: relative;
	min-height: 20px;
	/**/
	float: left;

	width: 50%;
}

.bx-catalog-set-item{
	border: 1px solid transparent;
	overflow: hidden;
	border-radius: 3px;
	background: #FFF;
	-webkit-transition: all 300ms ease;
	   -moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		 -o-transition: all 300ms ease;
			transition: all 300ms ease;
	padding-bottom: 18px;
}

.bx-catalog-set-item-notavailable{
	height: 30px;
	background: #dedede;
	display: inline-block;
	padding: 0 15px;
	line-height: 28px;
	vertical-align: middle;
	font-weight: bold;
	border-radius: 3px;
	border: 1px solid #d3d3d3;
}

.bx-catalog-set-item-col,
.bx-catalog-set-item-scu,
.bx-catalog-set-item-add-btn,
.bx-catalog-set-item-custom{padding: 5px 15px;}

.bx-catalog-set-item-img{
	/*padding: 10px;*/
	position: relative;
	padding-top: 64% !important;
	height: 0;
}
.bx-catalog-set-item-img-container{
	position: absolute;
	top:   5px;
	right: 5px;
	bottom:5px;
	left:  5px;
	text-align: center;
}
.bx-catalog-set-item-img img{
	position: absolute;
	top:50%;
	left:50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	   -moz-transform: translateY(-50%) translateX(-50%);
		-ms-transform: translateY(-50%) translateX(-50%);
		 -o-transform: translateY(-50%) translateX(-50%);
			transform: translateY(-50%) translateX(-50%);
}
.bx-catalog-set-item-title{
	line-height: 15px;
	/*font-size: 14px;*/
	overflow: hidden;
	height: 45px;
	vertical-align: top;
	padding: 5px 20px;
	position: relative;
}
.bx-catalog-set-item-title:after{
	content: "";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background:    -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: 	-ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: 	 -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: 		linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
	bottom: 0;
	right: 0;
	left: 0;
	height: 10px;
	position: absolute;
	-webkit-transition: opacity 200ms ease;
	   -moz-transition: opacity 200ms ease;
		-ms-transition: opacity 200ms ease;
		 -o-transition: opacity 200ms ease;
			transition: opacity 200ms ease;
}
.bx-catalog-set-item-price{
	text-align: center;
	min-height: 50px;
	padding: 5px 10px 0;
}

/**/
.bx-catalog-set-item-col{
	text-align: center;
}
.bx-catalog-set-item-col-minus,
.bx-catalog-set-item-col-plus{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
}
.bx-catalog-set-item-col-minus{}
.bx-catalog-set-item-col-input{
	display: inline-block;
	width: 25px;
	height: 20px;
	vertical-align: middle;
	font-size: 11px;
}
.bx-catalog-set-item-col-plus{}
/**/
.bx-catalog-set-item-scu{}
.bx-catalog-set-item-add-btn{
	text-align: center;
}
.bx-catalog-set-item-custom{
	font-size: 12px;
	color: #B8B8B8;
}
.bx-catalog-set-item-price-new{
	font-weight: bold;
	display: block;
}
.bx-catalog-set-item-price-old{
	display: block;
	padding: 3px 0;
	color: #B8B8B8;
	text-decoration: line-through;
	font-size: 11px;
	line-height: 11px;
}
/**/
.bx-catalog-set-topsale-slide{
	display: none;
}
.bx-catalog-set-topsale-slide.bx-active{
	display: block;
}
.bx-catalog-set-topsale-slide-control{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.bx-catalog-set-topsale-slide-control-dot{
	display: inline-block;
	width: 11px;
	height:11px;
	border-radius: 50%;
	background: #dbdbdb;
}
.bx-catalog-set-topsale-slide-control-dot:hover,
.bx-catalog-set-topsale-slide-control-dot.bx-active{
	background: #1485CE;
}


@media (max-width: 530px) {
	.bx-added-item-table,
	.bx-added-item-table tbody,
	.bx-added-item-table tr,
	.bx-added-item-table-cell-img,
	.bx-added-item-table-cell-itemname,
	.bx-added-item-table-cell-price,
	.bx-added-item-table-cell-del{
		display: block;
	}
	.bx-added-item-table,
	.bx-added-item-table tr,
	.bx-added-item-table-cell-itemname,
	.bx-added-item-table-cell-price,
	.bx-added-item-table-cell-del{
		width: 100%;
	}
	.bx-added-item-table tr{
		padding-top: 10px;
		/*padding-bottom: 30px;*/
		/*border-top: 1px solid #EDEEF0;*/
		margin-top:-1px;
		clear: both;
	}
	.bx-added-item-table tr:after{content: "";display: block;clear: both;}
	.bx-added-item-table-cell-img{
		float: left;
		border-top: none;
	}
	.bx-added-item-table-cell-itemname{
		border-top: none;
	}
	.bx-added-item-table-cell-price{
		text-align: right;
		border-top: none;
		width: auto;
		float: left;
	}
	.bx-added-item-table-cell-del{
		text-align: right;
		border-top: none;
		float: right;
		width: auto;
	}
	.bx-added-item-table-cell-del .bx-added-item-delete-text{
		color: #D63131;
		cursor: pointer;
		display: inline;
	}
	.bx-catalog-set-topsale-slider-box:after,
	.bx-catalog-set-topsale-slider-box:before{width: 2px;	}
	/*.bx-catalog-set-item-img img{border: 1px solid #EDEEF0;	}*/
	.bx-catalog-set-item-img,
	.bx-catalog-set-item-custom{padding: 10px 5px;}
}

.catalog_detail .bx-set-constructor .bx-added-item-new-price, .bx-catalog-set-item-price-new{color:#333;font-weight:bold;}
.catalog_detail .bx-set-constructor .bx-added-item-old-price, .catalog_detail .bx-set-constructor .bx-catalog-set-item-price-old strong,
.bx-catalog-set-item-price-old{color:#999;font-weight:normal;line-height: 11px;}

.bx-catalog-set-item-title{text-align:center;}

.bx-constructor-result-btn-container .bx-constructor-result-price{border:none;}

@media (min-width: 768px){
	.bx-set-constructor .row.result{padding-left: 25%;}
	.bx-set-constructor .row.result .bx-constructor-result-table{margin-left: 8px;}
}