.order-profile-selector {
  $p: 'order-profile-selector';
  position: relative;
  z-index: 2;

  .#{$p}_selected-item {
    padding: 10px;
    border: 1px solid #959595;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .#{$p}_selected-item-icon {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #959595;
  }

  .#{$p}_unselected-list{
    border: 1px solid #959595;
    border-radius: 3px;
    position: absolute;
    top: 44px;
    left: 0;
    width: calc(100% - 1px);
    background-color: #fff;
    transition: all .3s ease;
    transform: scale3d(1, 0, 1);
    transform-origin: 50% 0;
    opacity: 0;

    &.open{
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }

  .#{$p}_unselected-item{
    padding: 10px;
    cursor: pointer;
    transition: all .3s ease;

    &:hover{
      background-color: #ffd7eb85;
    }
  }
}
