div.subscribe-edit .red {
	color:red;
}
div.subscribe-edit .green {
	color:green;
}
div.subscribe-edit .errorcolor {
	color:red;
}
div.subscribe-edit .successcolor {
	color:green;
}
.subscribe-edit.border_block{margin-bottom:40px;}

@media all and (max-width: 500px){
	.data-table.confirm tbody tr td{display: block;width: 100%;}
	.data-table.confirm tbody tr td .more_text_small{padding: 20px 0px 0px;}
}
