.not-found[data-v-1f90e14e] {
  text-decoration: underline;
  font-size: 25px;
  color: #00b770;
  display: inline-block;
  margin-left: 10px;
  font-weight: 600;
}
.dpd-pickup-point {
}
@media (max-width: 768px) {
.modal-content{
        max-width: 750px;
}
}
@media (max-width: 425px) {
.modal-content{
        max-width: 400px;
}
}
@media (max-width: 375px) {
.modal-content{
        max-width: 350px;
}
}
@media (max-width: 320px) {
.modal-content{
        max-width: 300px;
}
}
#modal-dpd .modal-body,
#modal-dpd .modal-header
{
    padding: 0;
}
.modal-dialog {
    min-width: 800px;
    padding-top: 70px;
}
.modal-backdrop.in {
    display: none;
}
.points {
    max-height: 390px;
    overflow-x: auto;
}
.vue-map-container {
    float: left;
    height: 500px;
    width: 100%;
}
.points {
    list-style: none;
    padding: 0;
    margin: 0;
}
.point {
    font-size: 16px;
    padding: 12px;
    cursor: pointer;
    border-bottom: 1px solid darkgrey;
}
.point.point_selected {
    background: #02B771;
    color: #fff;
}
.point p {
    margin: 0;
}
.point-info {
    margin: 0 2rem;
}
#SB_DPD_pvz {
    background-color: white;
    padding: 10px;
    overflow: hidden;
    font-family: Arial;
    max-height: 520px;
    position: relative;
    width: 100%;
}
#modal-dpd .modal-header{
    border-bottom: 0px;
}
#SB_DPD_pvz_popup {}
#SB_DPD_pvz_popup_window #SB_DPD_pvz {
    width: 100%;
}
#SB_DPD_mask {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    z-index: 2000;
    background-color: black;
    display: none;
    top: 0px;
    padding: 5px
}
#SB_DPD_head {
    height: 35px;
    clear: both;
    padding-top: 7px;
    position: relative;
    top: -480px;
}
#SB_DPD_logo {
    /*background: url('/bitrix/images/ipol.dpd/widget/logo.png') no-repeat transparent;*/
    width: 169px;
    height: 11px;
}
#SB_DPD_logo:hover {
    background-position: 0px -12px;
}
#SB_DPD_logo a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
}
#SB_DPD_closer {
    position: absolute;
    /*background: url('/bitrix/images/ipol.dpd/widget/close.png') no-repeat transparent;*/
    height: 22px;
    width: 22px;
    right: 15px;
    top: 18px;
    z-index: 1000;
    cursor: pointer;
}
#SB_DPD_closer:hover {
    background-position: 0px -22px;
}
#SB_DPD_map {
    float: left;
    height: 500px;
    width: 100%;
}
#SB_DPD_info {
    float: left;
    position: relative;
    height: 480px;
    overflow: hidden;
    width: 245px;
    color: black;
    top: -490px;
    left: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #5D5D5D;
}
#SB_DPD_sign {
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    padding-left:10px;
    background-size: contain!important;
    background-position: 8px !important;
    overflow: hidden;
}
#SB_DPD_delivInfo_PVZ, #SB_DPD_delivInfo_POSTOMAT {
    height: 30px;
    /* font-weight: bold; */
    font-size: 12px;
    /* border-bottom: 1px dashed #e3e3e3; */
    line-height: 35px;
    padding: 0px 9px;
    background-color: #fafafa;
    color: #808080;
    border-top: 1px solid #e3e3e3;
    font-weight: bold;
    color: #040101;
/*border-bottom: 1 px dashed #aba7a7;*/
}
#SB_DPD_wrapper {
    height: 400px;
    overflow: auto;
    border: none;
    outline: none;
    background-color: #fafafa;
}
#SB_DPD_wrapper p {
    cursor: pointer;
    padding: 5px 6px;
    margin: 5px 6px;
    font-size: 12px;
}
#SB_DPD_wrapper p span {
    font-size: 12px;
    white-space: nowrap;
    display: inline-block;
    line-height: 10px;
}
#SB_DPD_wrapper p .IPOLSB_DPD_subPunct {
    width: 130px;
    overflow: hidden;
}
.IPOLSB_DPD_subPunct_detail_PVZ, .IPOLSB_DPD_subPunct_detail_POSTOMAT {
    color: #bfbfbf;
}
.SB_DPD_chosen {
    background-color: #ebebeb;
}
#SB_DPD_ten {
    position: relative;
    top: -5px;
    background-color: white;
    height: 10px;
    box-shadow: 0 0 5px 5px white;
    width: 235px;

    opacity: 0.7;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
}

/*Переключатель режимов*/
#SB_DPD_modController {
    margin: 10px 0;
    padding: 0px 10px;
    overflow: hidden;
}
#SB_DPD_modController.SB_DPD-hidden {
    display: block;
    margin: 5px 0;
    border-top: 1px dashed #aba7a7;
}
#SB_DPD_modController.SB_DPD-hidden .SB_DPD_mC_block {
    display: none;
}
.SB_DPD_mC_block {
    float: left;
    height: 30px;
    font-size: 13px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #e3e3e3;
    cursor: pointer;
}
.SB_DPD_mC_block.active {
    border: 1px solid #DC0032;
    background-color: #f8ece1;
    color: #DC0032;
}
#SB_DPD_mC_ALL {
    border-radius: 5px 0px 0px 5px;
    width: 34px;
}
#SB_DPD_mC_PVZ {
    width: 105px;
}
#SB_DPD_mC_POSTOMAT {
    border-radius: 0px 5px 5px 0px;
    width: 80px;
}

/*балун*/
.SB_DPD_baloon {
    background-color: white;
     width: 258px;
    font-family: Arial;
    font-size: 12px;
}
.SB_DPD_baloon > div {
    margin: 10px 0px;
}
.SB_DPD_baloonInfo a {
    color: #666666;
    text-decoration: none;
    border-bottom: 1px dashed #666666;
}
.SB_DPD_baloonDiv {
    max-width: 235px;
    padding-left: 8px;
    float: left;
}
.SB_DPD_baloonPrice {
    height: 20px;
    text-align: center;
}
.SB_DPD_icon {
    float: left;
    width: 12px;
    min-height: 12px;
}
.SB_DPD_iName {
    font-weight: bold;
    font-size: 14px;
}
.SB_DPD_iAdress {
    font-size: 12px;
}
.SB_DPD_iTelephone {
    /*background: url('/bitrix/images/ipol.dpd/widget/phone.png') no-repeat;*/
}
.SB_DPD_iTime {
    /*background: url('/bitrix/images/ipol.dpd/widget/clock.png') no-repeat;*/
}
.SB_DPD_iSchedule {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
.SB_DPD_iSchedule > div {
    margin-bottom: 10px;
}
.SB_DPD_button {
    width: 130px;
    height: 25px;
    /*background: url('/bitrix/images/ipol.dpd/widget/chooze.png') no-repeat;*/
    display: block;
    margin: auto;
    text-decoration: none;
}
.SB_DPD_button:hover {
    background-position: 0px -25px;
}
#SB_DPD_title {
    padding-bottom: 12px;
    border-bottom: 1px solid #e5e5e5;
}
#SB_DPD_title > div, #SB_DPD_cityPicker > div {
    font-size: 12px;
    font-family: Arial;
    float: left;
}
#SB_DPD_cityPicker > div:first-child {
    padding-top: 9px;
    margin-bottom: 10px;
}
#SB_DPD_cityPicker {
    width: 300px;
}
#SB_DPD_citySel {
    display: none;
}
#SB_DPD_cityName {
    text-decoration: none;
    border-bottom: 1px dotted #007ACF;
}
#SB_DPD_cityLabel {
    padding: 9px 12px 0px 12px;
}
#SB_DPD_cityLabel a {
    margin-bottom: 9px;
    color: #3366CC;
    display: block;
    cursor: pointer;
}
#SB_DPD_cityLabel a:hover {
    color: #24478F;
    text-decoration: none !important;
}
#SB_DPD_cityLabel:hover {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.506);
    position: absolute;
    z-index: 100;
}
#SB_DPD_cityLabel:hover > #SB_DPD_citySel {
    display: block;
    max-width: 200px;
    max-height: 400px;
    overflow: auto;
}
#SB_DPD_cityLabel:hover > #SB_DPD_cityName {
    text-decoration: underline;
    border-bottom: none;
}
#SB_DPD_mark {
    float: right !important;
    height: 32px;
    line-height: 20px;
    cursor: default;
    text-align: right;
}
#SB_DPD_mark .SB_DPD_courierInfo {
    float: left;
    padding: 0px 2px;
}
#SB_DPD_logoPlace {
    width: 300px;
    height: 38px;
    /*background-image: url("/bitrix/images/ipol.dpd/dpdlogo.png");*/
    background-repeat: no-repeat;
    background-position: 241px 2px;
}
#SB_DPD_separator {
    background-color: #e3e3e3;
    width: 1px;
    height: 38px;
}
#SB_DPD_citySearcher {
    margin-bottom: 5px;
}
.SB_DPD_baloonDiv a {
    cursor: help;
}
.SB_DPD-hidden {
    display: none;
}
.SB_DPD_arrow {
    width: 23px;
    height: 14px;

    /*background: #000 none repeat scroll 0% 0%;*/
    /*background: url("/bitrix/images/ipol.dpd/arr.png") no-repeat bottom left;*/
    display: block;
    margin: 12px auto;
    display: none;
}
.SB_DPD_arrow:hover {
    background-position: bottom right;
}
.SB_DPD_arrow.up {
    background-position: top left;
}
@media screen and (max-width: 919px) {
.SB_DPD_arrow {
        display: block;
}
#SB_DPD_wrapper {
        display: none;
}
#SB_DPD_wrapper.show {
        display: block;
}
#SB_DPD_info {
        width: calc(100% - 20px);
        height: auto;
}
.SB_DPD_iSchedule {
        display: block;
        width: auto;
}
}
@media screen and (max-width: 480px) {
#SB_DPD_delivInfo_PVZ, #SB_DPD_delivInfo_POSTOMAT {
        line-height: 1.33;
        padding-top: 5px;
        padding-bottom: 5px;
        height: auto;
}
}
.order h4 {
    font-size: 18px;
    color: #585858;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2;
    text-align: left;
}
.order-navigation-item {
    padding: 0;
}
.order-navigation-item .order-navigation-item__button {
    width: 42px;
    height: 42px;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
    color: #c1c1c1;
    background-color: #FFF;
    font-size: 18px;
    float: left;
    transition: background-color 500ms, color 500ms;
}
.order-navigation-item.order-navigation-item_active .order-navigation-item__button {
    background-color: #02B771;
    border-color: #02B771;
    color: #fff;
}
.order-navigation-item.order-navigation-item_preview_active .order-navigation-item__button {
    border-color: #02B771;
    color: #02B771;
}
.order-navigation-item .order-navigation-item__progress-line {
    margin: 20px 0;
    height: 2px;
    background-color: #c1c1c1;
    width: 100%;
    transition: background-color 750ms;
}
.order-navigation-item.order-navigation-item_preview_active .order-navigation-item__progress-line {
    background-color: #02B771;
}
.order-navigation-item .order-navigation-item__description {
    padding: 1rem 0;
    color: #c1c1c1;
    transition: color 500ms;
}
.order-navigation-item.order-navigation-item_active .order-navigation-item__description {
    color: #02B771;
}
.order-navigation-item.order-navigation-item_preview_active .order-navigation-item__description {
    color: #029e62;
}
.order-right-panel-content {
    border-left: 1px solid #DADADA;
    padding-left: 30%;
    font-size: 14px;
    color: rgb(36, 35, 35);
    line-height: 1.571;
    text-align: left;
}
.order-right-panel-content .order-right-panel-content__link-to-basket {
    font-size: 14px;
    color: #1976d2;
    text-decoration: underline;
    line-height: 1.429;
    text-align: left;
}
.el-loading-spinner .path {
    stroke: #1976d2;
}
.order-person-type-item .el-radio__input .el-radio__inner {
    width: 22px;
    height: 22px;
}
.order-person-type-item .el-radio__input .el-radio__inner::after {
    width: 12px;
    height: 12px;
}
.el-radio__input.is-checked .el-radio__inner {
    border-color: #1976d2;
    background: #1976d2;
}
.order-pickup-input {
    width: 100%;
    background: transparent;
    margin-top: 12px;
    border: none;
}
.order-person-type-item + .order-person-type-item {
    margin-left: 0;
}
.order-person-type-item {
    margin-right: 30px;
}
.order-person-type-item .el-radio__label {
    font-weight: normal;
    padding-left: 16px;
}
.order-user-fields {
    border-bottom: 1px solid #dadada;
    padding-bottom: 20px;
}
.order-user-properties {
    padding-top: 40px;
}
.property-input,
.property-text {
    margin: 22px 0;
}
.el-autocomplete {
    width: 100%;
    transition: all 600ms ease;
    background-color: #ffffff;
    height: 40px;
}
.el-autocomplete-suggestion li {
    white-space: inherit;
    line-height: 21px
}
.el-scrollbar__view.el-autocomplete-suggestion__list li {
    padding-bottom: 15px;
}
.property-input input {
    padding-left: 12px;
    width: 100%;
    transition: all 600ms ease;
    border: 1px solid #dadada;
    background-color: #ffffff;
    height: 40px;
}
.property-text p {
}
.property-input input:disabled,
.property-text p:disabled {
    background-color: #dadada;
}
.property-input input:hover {
    border-color: #1976d2;
}
.property-input input.error {
    border-color: #f75a48;
}
.property-text p:invalid {
    color: #f75a48;
}
.property-input input:valid {
    border-color: #00a460;
}
.property-text p:valid {
    color: #00a460;
}
.order-next-step-button {
    background-color: #1976d2;
    border-radius: 20px;
    width: 140px;
}
.order-save-button {
    background-color: #1976d2;
    border-radius: 20px;
    width: 180px;
}
.delivery-item + delivery-item {
    border-top: 1px solid #CCC;
}
.order-total .table-hover > tbody > tr:hover {
    background-color: #e5f8f0 !important;
}
.order-total .table li {
    list-style: none;
}
.order-total .table tr th {
    background-color: rgb(229, 248, 240);
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    color: rgb(36, 35, 35);
    vertical-align: middle !important;
    height: 60px;
    position: relative;
}
.order-total .table tr th:after {
    content: '';
    width: 1px;
    height: 40px;
    background: #DADADA;
    position: absolute;
    right: 0;
    top: 10px;
}
.order-total .table tr th:last-child:after {
    width: 0px;
}
.order_item_image {
    width: 10%;
}
.order_item_name,
.order_item_props {
    width: 17%;
}
.order_item_price_type {
    width: 10%;
}
.order_item_discount,
.order_item_weight,
.order_item_quantity {
    width: 7%;
}
.order_item_price {
    width: 15%;
}
.order-total .table > tbody > tr > td,
.order-total .table > tbody > tr > th,
.order-total .table > tfoot > tr > td,
.order-total .table > tfoot > tr > th,
.order-total .table > thead > tr > td,
.order-total .table > thead > tr > th {
    text-align: center;
    vertical-align: middle;
    color: #3e3e3e;
}
.el-radio-button__orig-radio:checked + .el-radio-button__inner {
    color: #fff;
    background-color: #1976d2;
    border-color: #1976d2;
    box-shadow: -1px 0 0 0 #1976d2;
}
.el-radio-button__inner:hover {
    color: #1976d2;
}
.order-address-select {
    margin-bottom: 30px;
}
.el-alert--success {
    border: 1px solid #13cc66;
    background-color: rgba(0, 183, 122, 0.50);
}
.el-alert--warning {
    border: 1px solid #f7ba2a;
    background-color: rgba(247, 186, 42, 0.50);
}
.el-alert--info {
    border: 1px solid #50bfff;
    background-color: rgba(80, 191, 255, 0.50);
}
.order-auth {
    font-size: 14px;
    line-height: 1.7;
}
.order-auth .order-auth__modal_link {
    color: #1976d2;
    text-decoration: underline;
}
.order-auth .order-auth__description {
    color: #c1c1c1;
}
.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #1976d2;
    border-color: #009b57;
}
.order-property-list {
    min-height: 200px;
}
.bounce-enter-active {
    -webkit-animation: bounce-in .8s;
            animation: bounce-in .8s;
}
.bounce-leave-active {
    animation: bounce-in .8s reverse;
}
@-webkit-keyframes bounce-in {
from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
                transform: translate3d(-3000px, 0, 0);
}
60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
                transform: translate3d(25px, 0, 0);
}
75% {
        -webkit-transform: translate3d(-10px, 0, 0);
                transform: translate3d(-10px, 0, 0);
}
90% {
        -webkit-transform: translate3d(5px, 0, 0);
                transform: translate3d(5px, 0, 0);
}
to {
        -webkit-transform: none;
                transform: none;
}
}
@keyframes bounce-in {
from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
                transform: translate3d(-3000px, 0, 0);
}
60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
                transform: translate3d(25px, 0, 0);
}
75% {
        -webkit-transform: translate3d(-10px, 0, 0);
                transform: translate3d(-10px, 0, 0);
}
90% {
        -webkit-transform: translate3d(5px, 0, 0);
                transform: translate3d(5px, 0, 0);
}
to {
        -webkit-transform: none;
                transform: none;
}
}
@-webkit-keyframes rotate {
0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
}
100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
}
}
@keyframes rotate {
0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
}
100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
}
}
.pos-rel {
    position: relative;
}
.el-alert {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.el-alert--success {
    border: 1px solid #13cc66;
    background-color: rgba(0, 183, 122, 0.50);
    color: white;
}
.el-alert--warning {
    border: 1px solid #f7ba2a;
    background-color: rgba(247, 186, 42, 0.50);
    color: white;
}
.el-alert--error {
    background-color: #ff4949;
    color: white;
}
.el-alert--info {
    border: 1px solid #50bfff;
    background-color: rgba(80, 191, 255, 0.50);
    color: white;
}
.el-alert--error {
    background-color: #ff4949;
    color: white;
}
.order-form {
    position: relative;
}
.order_loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #d3cde44a;
    z-index: 10000;
}
.sb_preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30px;
    width: 30px;
    margin: -2vh auto;
    border: 5px solid #f7f7f7;
    border-top: 5px solid #ab2640;
    border-radius: 50%;
    -webkit-animation: rotate 1s infinite linear;
            animation: rotate 1s infinite linear;
}
.sb-order-name-step {
    font-size: 18px;
    font-weight: bold;
}
.modal-backdrop.fade.show{
    display: none !important;
}
#SB_DPD_pvz_popup{
    width: 100%;
}
/*#modal-dpd .close{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    z-index: 1000;*/
/*    border: 1px solid #000;*/
/*    background-color: #ffffff;*/
/*    opacity: 1;*/
/*    padding: 0;*/
/*    border-radius: 100%;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    color: #4a252f;*/
/*    font-size: 16px;*/
/*}*/
#modal-dpd .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
#modal-dpd .close:hover,
#modal-dpd .close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#modal-dpd button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    right: 8px;
    top: 4px;
    position: absolute;
    z-index: 1;
}
.sb-cart-header,
.sb-cart-content,
.sb-cart-footer {
    padding:30px 10px 30px 10px;
    border:1px solid #f2f2f2;
    border-radius:0;
    background:#fff;
}
.sb-cart-price-total {
    font-size: 18px;
}
.sb-cart-t-main {
    font-size: 15px;
}
.sb-cart-t-bold{
    font-weight: bold;
}
.text-right{
    text-align: right;
}
.delivery-img
{
    max-width: 100px;
    max-height: 40px;
    padding: 0px 8px 0px 8px;
}
.sb-delivery-price,
.sb-delivery-time {
    font-size: 14px;
}
.sb_button_finish{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sb_btn2pay button{
    width: 250px;
}
.sb_btn2pay button span{
   font-size: 18px !important;
}
.sb_pay_description{
}
.sb_silver_text{
    color: #ddd;
}
#bx-soa-order .alert-danger{
    margin: 0 !important;
}


