.main-slider .target {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 10;
}
.main-slider .wrapper_inner {
  background: none;
  z-index: auto;
}
.top_slider_wrapp {
  margin: 0 auto 30px;
  overflow: hidden;
}
.middle .top_slider_wrapp {
  margin-bottom: 0;
}

.front.wide_page .top_slider_wrapp {
  margin-bottom: 0px;
  padding-bottom: 30px;
}
.front.wide_page .top_big_one_banner .top_slider_wrapp {
  padding-bottom: 0;
}
.fill_bg_y .front .top_big_one_banner .top_slider_wrapp {
  background: #fff;
}

.front.wide_page .col-m-60 .top_slider_wrapp {
  padding-bottom: 20px;
}
.top_slider_wrapp li:before {
  width: auto;
  display: none !important;
}

.top_slider_wrapp .main-slider__item,
.top_slider_wrapp .main-slider__item,
.top_slider_wrapp .main-slider__item td,
.top_slider_wrapp .main-slider__item td,
.top_slider_wrapp .main-slider,
.top_slider_wrapp .main-slider {
  height: 450px;
  margin: 0px;
}

.top_slider_wrapp .main-slider .main-slider__wrapper .main-slider__item,
.top_big_banners.with_childs .slide {
  z-index: 2;
}

.top_slider_wrapp .main-slider .main-slider__wrapper .main-slider__item {
  background-position: center;
  background-repeat: no-repeat;
}
.only_banner .top_slider_wrapp .main-slider .main-slider__wrapper .main-slider__item {
  background-position: bottom;
}
.top_slider_wrapp .main-slider .main-slider__wrapper .main-slider__item:before {
  display: none;
}
.top_slider_wrapp .main-slider .main-slider__wrapper .main-slider__item .img {
  z-index: 1;
}
.top_slider_wrapp .main-slider__item.image td.img {
  text-align: center;
  vertical-align: bottom;
}
.top_slider_wrapp .main-slider .main-slider__wrapper .main-slider__item .text {
  position: relative;
  z-index: auto;
}
body .top_slider_wrapp .main-slider .main-slider__item:not(.image) .img img {
  position: absolute;
  bottom: 0px;
  max-height: calc(100% - 20px);
}
.top_slider_wrapp .main-slider .main-slider__wrapper .main-slider__item.center .banner_text {
  text-align: center;
}

.half_block .top_slider_wrapp .main-slider .main-slider__wrapper .main-slider__item .text {
  z-index: 10;
}
.top_slider_wrapp .main-slider__item .banner_text,
.top_slider_wrapp .main-slider__item .banner_title {
  z-index: 10;
  position: relative;
}
.main-slider .banner_text {
  overflow: hidden;
  line-height: 1.8em;
  max-height: 189px;
  overflow: hidden;
  margin: 23px 0 0;
}
.main-slider__item .banner_buttons a {
  margin: 3px;
}
.top_big_one_banner.short_block .main-slider .banner_text {
  margin-top: 15px;
}
.top_big_one_banner.short_block.v2
  .top_slider_wrapp
  .main-slider
  .main-slider__wrapper
  .main-slider__item:not(.image)
  .img
  img {
  max-height: calc(100% - 10px);
  top: auto;
}

.top_slider_wrapp .main-slider__item .wrapper_inner > table {
  width: 100%;
}
.main-slider .light,
.main-slider .light .banner_title,
.main-slider .light,
.main-slider .light .banner_title h1,
.main-slider .light .banner_text,
.main-slider .light .banner_title a {
  color: #fff;
}
.main-slider .dark .banner_title,
.main-slider .dark .banner_title h1,
.main-slider .dark .banner_title a {
  color: #202020;
}
.main-slider .dark .banner_text {
  color: #333;
}
.main-slider .banner_buttons {
  margin: 29px -3px -3px;
  position: relative;
  z-index: 999;
}

.top_slider_wrapp .main-slider .banner_title .head-title {
  font-size: 2.2666em;
  line-height: 1.15em;
  margin: 0px;
  padding: 0px;
}
.top_slider_wrapp .main-slider .text.center .banner_title,
.top_slider_wrapp .main-slider .text.center .banner_buttons {
  text-align: center;
}
.top_slider_wrapp .main-slider .text.center .banner_buttons {
  margin-top: 25px;
}
 .top_slider_wrapp .main-slider .wrapper_inner {
  padding-left: 0px;
  padding-right: 0px;
} 
.flexslider .banner_text {
  line-height: 1.8em;
  max-height: 189px;
  overflow: hidden;
  margin: 23px 0 0;
}
.top_slider_wrapp .main-slider tr.main_info {
  background-image: url(images/loaders/double_ring.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}
.top_slider_wrapp .main-slider .main-slider__wrapper .main-slider__item {
  background-size: cover;
  overflow: hidden;
}

.top_slider_wrapp .main-slider__wrapper .text .section {
  margin: 0 0 16px 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.5;
}
.top_slider_wrapp .main-slider__wrapper .text .section.font_upper_md{
  white-space: normal;
}
.top_slider_wrapp .main-slider__wrapper .main-slider__item:not(.dark) .text .section {
  color: #fff;
}
body .top_slider_wrapp .main-slider__wrapper .text .banner_title .section {
  margin-left: 0px;
}
body .top_slider_wrapp .main-slider__wrapper .text .banner_title .head-title {
  margin-left: -2px;
}
.top_slider_wrapp .text .banner_title .votes_block {
  margin-top: 12px;
}

.main-slider__item .text,
.main-slider__item .img {
  width: 50%;
}
.main-slider__item .left {
  text-align: left;
}
.main-slider__item .left .banner_title,
.main-slider__item .left .banner_text {
  margin-left: 90px;
}
.main-slider__item .left .banner_buttons {
  margin-left: 87px;
}

.box.light .votes_block.nstar .item-stock .value .store_view {
  color: #fff;
}
.box .votes_block.nstar .ratings {
  padding-right: 15px;
}
.box .votes_block.nstar .item-stock .value .store_view {
  color: #202020;
  border: none;
}

.top_slider_wrapp .main-slider__wrapper .banner_title .view_sale_block {
  margin: 23px 0px 0px;
}
.top_slider_wrapp .banner_title .prices {
  margin: 14px -6px 0px;
}
.top_slider_wrapp .main-slider__wrapper .banner_title .prices > span {
  padding: 0px 6px 0px;
  white-space: nowrap;
}
.top_slider_wrapp .main-slider__wrapper .banner_title .prices .price:not(.price_old) {
  font-weight: bold;
}
.top_slider_wrapp .main-slider__wrapper .banner_title .prices .price.price_old {
  font-size: 0.933em;
  opacity: 0.5;
  text-decoration: line-through;
}

.top_slider_wrapp .main-slider__wrapper .banner_title .sale_block {
  margin-top: 0px;
  line-height: normal;
  color: #202020;
}
.top_slider_wrapp .main-slider__wrapper .banner_buttons.with_actions {
  margin-top: 20px;
}

.top_slider_wrapp .main-slider__wrapper .banner_buttons.with_actions > .btn:last-of-type {
  margin: 10px 10px 10px 0px;
}
.top_slider_wrapp .main-slider__wrapper .banner_buttons.with_actions > .btn.btn-video {
  margin-left: 10px;
}
.top_slider_wrapp .main-slider__wrapper .js-info-block {
  z-index: 1000;
}

.top_slider_wrapp .wvideo .banner_title.item_info .head-title,
.top_slider_wrapp .wvideo .banner_title.item_info .view_sale_block,
.top_slider_wrapp .wvideo .banner_title.item_info .prices,
.top_slider_wrapp .wvideo .banner_title.item_info .sale_block {
  position: relative;
  z-index: 10;
}
.top_slider_wrapp .wvideo .banner_title.item_info .votes_block {
  position: relative;
  z-index: 11;
}

.top_slider_wrapp .main-slider__wrapper .wraps_buttons {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 0px 0px;
}
.top_slider_wrapp .main-slider__wrapper .wraps_buttons > .wrap {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
}
.top_slider_wrapp .main-slider__wrapper .wraps_buttons .wrap {
  margin-right: 6px;
  transition: background-color 0.2s ease-in-out;
  border-radius: 3px;
  height: 48px;
  width: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.top_slider_wrapp .main-slider__wrapper .wraps_buttons .wrap:not(:hover) {
  background-color: #fff;
}
.top_slider_wrapp .main-slider__wrapper .wraps_buttons .wrap:hover .svg * {
  fill: #fff !important;
}
.top_slider_wrapp .main-slider__wrapper .wraps_buttons .wrap:last-of-type {
  margin-right: 0px;
}
.top_slider_wrapp .main-slider__wrapper .wraps_buttons .wrap .svg {
  top: 0;
}
.top_slider_wrapp .main-slider__wrapper .wraps_buttons .wrap .svg path {
  fill: #fff;
}
.top_slider_wrapp .main-slider__wrapper .box .wraps_buttons .wrap:not(.added) .svg path {
  fill: #222;
}

.top_slider_wrapp .main-slider__wrapper .wraps_buttons .wrap.basket_item_add .svg.svg-inline-basket-added {
  display: none;
}
.top_slider_wrapp .main-slider__wrapper .wraps_buttons .wrap.basket_item_add.added .svg.svg-inline-basket {
  display: none;
}
.top_slider_wrapp .main-slider__wrapper .wraps_buttons .wrap.basket_item_add.added .svg.svg-inline-basket-added {
  display: block;
}

.top_slider_wrapp .main-slider__wrapper .wraps_buttons .wrap.added {
  background: #999;
  background: var(--theme-base-color);
}

.main-slider .banner_title,
.main-slider .banner_text,
.main-slider .banner_buttons {
  margin-left: 15px;
  margin-right: 15px;
  text-align: left;
}

.navigation_offset:hover .swiper-button-next {
  right: 26px;
}
.navigation_offset:hover .swiper-button-prev {
  left: 21px;
}

.main-slider .swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: 21px;
}

/* banner video */
.top_slider_wrapp .box .btn.btn-video.play {
  position: relative;
  border: none;
  background: none;
  padding: 0px;
  width: 123px;
  height: 118px;
  vertical-align: top;
  overflow: visible;
  box-shadow: none;
}
.top_slider_wrapp .box .btn.btn-video.play:not(.loading) {
  z-index: 2;
}
.top_slider_wrapp .box .btn.btn-video.play:before {
  content: "";
  position: absolute;
  left: 0px;
  top: -1px;
  width: 123px;
  height: 118px;
  background: url(../images/next.png) -116px -214px no-repeat;
}

.top_slider_wrapp .box .btn.btn-video:not(.play) {
  padding: 27px 29px 19px;
  position: relative;
  vertical-align: middle;
}
.top_slider_wrapp .box .btn.btn-video:not(.play):before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -6px 0 0 -5px;
  width: 12px;
  height: 12px;
  background: url(../images/svg/play_pause.svg) 0 0px no-repeat;
}
.top_slider_wrapp .box .btn.btn-video.loading:not(.play):before {
  background-position: 0px -12px;
}

.top_slider_wrapp .box.wvideo.loading:not(.started):after {
  content: "";
  background: #000;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  display: block !important;
  opacity: 0.5;
}

.top_slider_wrapp .wrapper_video {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background: #000;
}
.top_slider_wrapp .box .video {
  min-width: 100%;
  max-height: 150%;
  min-height: 100%;
}
.top_slider_wrapp .box .video.cover {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: none;
  max-width: none;
  position: static;
  min-height: none;
}
.half_block .top_slider_wrapp .box .video.cover {
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top_slider_wrapp .box video {
  height: 100%;
}

/*big banners 5 items*/
.top_big_banners > .row > div {
  padding: 0px 10px;
}

.top_big_banners.nop > .row {
  margin: 0px;
}
.top_big_banners.nop > .row > div {
  padding: 0px;
}
.top_big_banners.with_childs.nop .top_slider_wrapp,
.top_big_banners.with_childs.nop .item {
  padding: 0px;
}
.top_big_banners .blocks2 {
  float: left;
  width: 50%;
}
.top_big_banners .items {
  width: 100%;
}
.top_big_banners .items .item {
  width: 50%;
  float: left;
}
.top_big_banners .items .item.wide50,
.top_big_banners .items .item.wide100 {
  width: 100%;
}

.top_big_banners:not(.nop) .items {
  margin: 0px -10px;
  width: auto;
}
.top_big_banners:not(.nop) .items .item {
  padding: 10px;
}
.top_big_banners:not(.nop) .child {
  padding: 0px;
}
.top_big_banners:not(.nop) .child > .row .item {
  padding: 10px;
}

.top_big_banners .item .item_inner .wrap_tizer {
  z-index: 12;
  bottom: 0px;
}
.top_big_banners .item .item_inner .text .section {
  margin: 0 0 11px;
  opacity: 0.7;
}
.top_big_banners .item .item_inner .text .title {
  max-height: 81px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top_big_banners .item .item_inner .wrap_tizer .wrapper_inner_tizer {
  padding: 33px 40px 34px 40px;
}

.top_big_banners.short_block:not(.nop) .top_slider_wrapp {
  padding: 0px 0px 10px;
}
.BIG_BANNER_INDEX > .maxwidth-theme .top_big_banners.short_block {
  padding: 0px 0px 0px;
  margin-bottom: -10px;
}
.BIG_BANNER_INDEX > .maxwidth-theme .top_big_banners.short_block .flex-viewport,
.BIG_BANNER_INDEX > .maxwidth-theme .top_big_banners.short_block .item .item_inner {
  border-radius: 3px;
}
.BIG_BANNER_INDEX > .maxwidth-theme .top_big_banners.top_margin_banner {
  margin-top: 30px;
}
.top_big_banners.short_block .item .item_inner .wrap_tizer .wrapper_inner_tizer {
  padding: 28px 28px 21px 28px;
}
.top_big_banners.short_block .item .item_inner .text .title {
  font-size: 1em;
}
.top_big_banners .item .item_inner .wrap_tizer .wrapper_inner_tizer a.outer_text {
  color: #fff;
  text-decoration: none;
}

.top_big_banners .item .item_inner {
  position: relative;
  overflow: hidden;
  height: 275px;
}
.top_big_banners .item .img_block {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}

body .short_block.v2 .top_slider_wrapp .main-slider .text .banner_title .section,
.short_block.v2 .top_slider_wrapp .main-slider .banner_title .stickers,
.short_block.v2 .top_slider_wrapp .main-slider .banner_title .view_sale_block,
.short_block.v2 .top_slider_wrapp .main-slider .banner_title .votes_block {
  display: none;
}
body .short_block.v2 .top_slider_wrapp .main-slider .text .banner_text {
  max-height: 50px;
}
.top_big_banners.short_block.v2 .top_slider_wrapp .img img {
  max-height: none;
  bottom: auto;
  top: 0px;
}

/*half banner*/
.top_big_banners.half_block .main-slider__item .img {
  padding-left: 130px;
}
.top_big_banners.half_block .main-slider .banner_title .head-title {
  position: relative;
  display: block;
}

.top_big_banners.half_block .main-slider .banner_title,
.top_big_banners.half_block .main-slider .banner_title a {
  color: var(--white_text_black);
}
.top_big_banners.half_block .main-slider .banner_text {
  color: var(--white_text_black);
}

@media (max-width: 1020px) and (min-width: 950px) {
  .main-slider .banner_title,
  .main-slider .banner_text,
  .main-slider .banner_buttons {
    margin-right: 40px;
  }
}

@media (min-width: 992px) {
  .top_big_banners .wrap_tizer .preview {
    max-height: 80px;
    overflow: hidden;
  }
  .top_big_banners > .row {
    margin: 0px -10px;
  }
  .top_big_banners > .row > div .row {
    margin: 0px;
  }
  .top_big_banners:not(.nop) .child > .row .item .item_inner {
    height: 240px;
  }
  .top_big_banners:not(.nop) .child {
    margin-top: -10px;
  }
  .top_big_banners.short_block .items .item .item_inner {
    height: 220px;
  }
  .top_big_banners.short_block .slide .stickers {
    display: none;
  }
  .top_big_banners.short_block.v2 .top_slider_wrapp .main-slider__item,
  .top_big_banners.short_block.v2 .top_slider_wrapp .main-slider__item td,
  .top_big_banners.short_block.v2 .top_slider_wrapp .main-slider {
    height: 300px;
  }
  .top_big_banners.half_block .top_slider_wrapp .main-slider__item,
  .top_big_banners.half_block .top_slider_wrapp .main-slider__item td,
  .top_big_banners.half_block .top_slider_wrapp .main-slider {
    height: 622px;
  }
  .top_big_banners.half_block .main-slider .banner_title .head-title {
    padding-right: 80px;
  }
  .top_big_banners.half_block .main-slider .banner_title .head-title:after {
    content: "";
    position: absolute;
    display: block;
    width: 160px;
    height: 2px;
    background: #ddd;
    background: var(--theme-base-color);
    right: -95px;
    top: 20px;
  }

  body.BIG_BANNER_INDEX_type_2 .top_big_banners.short_block .slide .top_slider_wrapp .main-slider .left .banner_buttons,
  body.BIG_BANNER_INDEX_type_2 .top_big_banners.short_block .slide .top_slider_wrapp .main-slider .left .banner_text,
  body.BIG_BANNER_INDEX_type_2 .top_big_banners.short_block .slide .top_slider_wrapp .main-slider .left .banner_title {
    margin-left: 100px;
  }

  .top_big_banners.short_block .slide .top_slider_wrapp .main-slider .left .banner_buttons,
  .top_big_banners.short_block .slide .top_slider_wrapp .main-slider .left .banner_text,
  .top_big_banners.short_block .slide .top_slider_wrapp .main-slider .left .banner_title {
    margin-left: 50px;
  }
  .top_big_banners.short_block .slide .top_slider_wrapp .main-slider .banner_title,
  .top_big_banners.short_block .slide .top_slider_wrapp .main-slider .banner_text,
  .top_big_banners.short_block .slide .top_slider_wrapp .main-slider .banner_buttons {
    margin-right: 0px;
  }
  .top_big_banners.short_block .slide .top_slider_wrapp .main-slider .left .banner_text {
    max-height: 131px;
  }

  body .top_big_banners .items .item {
    width: 25%;
  }
  body .top_big_banners.short_block .items .item:not(.wide100) {
    width: 33.33%;
  }
  body .top_big_banners .items .item.wide50 {
    width: 50%;
  }
  .top_big_banners .top_slider_wrapp .main-slider__item,
  .top_big_banners .top_slider_wrapp .main-slider__item td,
  .top_big_banners .top_slider_wrapp .main-slider {
    height: 550px;
  }
  .top_big_banners.short_block .top_slider_wrapp .main-slider__item,
  .top_big_banners.short_block .top_slider_wrapp .main-slider__item td,
  .top_big_banners.short_block .top_slider_wrapp .main-slider {
    height: 500px;
  }
  .top_big_banners.only_banner .top_slider_wrapp .main-slider__item,
  .top_big_banners.only_banner .top_slider_wrapp .main-slider__item td,
  .top_big_banners.only_banner .top_slider_wrapp .main-slider {
    height: 496px;
  }
  /* more_height */
  .top_big_banners.only_banner.more_height .top_slider_wrapp .main-slider__item,
  .top_big_banners.only_banner.more_height .top_slider_wrapp .main-slider__item td,
  .top_big_banners.only_banner.more_height .top_slider_wrapp .main-slider {
    height: calc(496px + 100px);
  }
}

@media screen and (max-width: 991px),
  projection and (max-width: 991px),
  tv and (max-width: 991px),
  handheld and (max-width: 991px) {
  .top_slider_wrapp .main-slider__item,
  .top_slider_wrapp .main-slider__item td,
  .top_slider_wrapp .main-slider {
    height: 380px;
  }
  .top_slider_wrapp .main-slider__item .text.left .banner_text,
  .top_slider_wrapp .main-slider__item .text.left .banner_title,
  .top_slider_wrapp .main-slider__item .text.left .banner_buttons,
  .top_slider_wrapp .left .text .section {
    margin-left: 80px;
  }
  .top_slider_wrapp .banner_title .stickers {
    padding-bottom: 11px;
  }

  .main-slider__item .text .banner_title .head-title {
    font-size: 22px;
    line-height: 30px;
  }
  .main-slider__item .banner_title .view_sale_block,
  .main-slider__item .banner_title .sale_block {
    display: none;
  }
  .main-slider__item .text .banner_text {
    line-height: 1.6em;
    margin-top: 11px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .main-slider__item .text .banner_buttons {
    margin-top: 15px;
  }
  .top_slider_wrapp .swiper-button-next,
  .top_slider_wrapp .swiper-button-prev {
    display: none;
  }
  .top_slider_wrapp .text .banner_title .votes_block {
    margin-top: 7px;
  }
  .top_slider_wrapp .banner_title .prices {
    margin-top: 6px;
  }
  .top_slider_wrapp .banner_title .prices .price:not(.price_old) {
    font-size: 1.067em;
  }
  .top_slider_wrapp .main-slider__item .banner_buttons.with_actions {
    margin-top: 8px;
  }
  .top_slider_wrapp .main-slider__item .banner_buttons .btn {
    padding: 12px 21px 12px;
    margin: 3px 3px 7px 3px;
  }
  .top_slider_wrapp .main-slider__item .wraps_buttons .wrap {
    height: 40px;
    width: 40px;
  }
  .main-slider .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 11px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
}

@media (min-width: 768px) {
  .navigation_offset .swiper-button-next {
    right: -10px;
    text-align: right;
  }
  .navigation_offset .swiper-button-prev {
    left: -10px;
  }
  .top_slider_wrapp .main-slider__item tr.main_info {
    background-image: none !important;
  }
  .top_slider_wrapp.view_2 .main-slider__item tr.adaptive_info {
    display: none;
  }

  body .top_big_banners.half_block .main-slider .box:after {
    content: "";
    display: block !important;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 50%;
    background: #ffffff;
    background: var(--card_bg_black);
    opacity: 1;
  }
  .top_big_banners.half_block .main-slider .banner_title .section {
    color: #999;
    opacity: 1;
  }
  .top_big_banners.half_block .main-slider .light,
  .top_big_banners.half_block .main-slider .light .banner_title,
  .top_big_banners.half_block .main-slider .light,
  .top_big_banners.half_block .main-slider .light .banner_title h1,
  .top_big_banners.half_block .main-slider .light .banner_text,
  .top_big_banners.half_block .main-slider .light .banner_title a {
    color: #333;
    color: var(--white_text_black);
  }
  .top_big_banners.half_block .main-slider .banner_title .head-title,
  .top_big_banners.half_block .main-slider .banner_title .head-title a,
  .top_big_banners.half_block .banner_title .prices .price:not(.price_old) {
    color: #333;
    color: var(--white_text_black);
  }
  .top_big_banners.half_block .main-slider .banner_title .banner_text {
    color: #777;
  }
  .top_big_banners.half_block .main-slider .wrap:not(.added) svg path {
    fill: #333;
    fill: var(--white_text_black);
  }
  .top_big_banners.half_block .box.light .sale_block.v2 .text > span {
    color: #333;
    color: var(--white_text_black);
  }
  .top_big_banners.half_block .main-slider {
    text-align: left;
  }
  body .top_big_banners.half_block .swiper-pagination-bullet,
  body .top_big_banners.half_block .swiper-pagination-bullet:before {
    width: 8px;
    height: 8px;
    transform: none;
  }
  .top_big_banners.half_block .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):before {
    background: #d6d6d6;
  }
  .top_big_banners.half_block .swiper-pagination {
    display: block;
    padding-left: 90px;
    /* top: -39px; */
    margin: auto;
    text-align: left;
    right: 0px;
  }
  .half_block .top_slider_wrapp .wrapper_video {
    width: 50%;
    left: 50%;
    overflow: hidden;
  }
}

@media screen and (max-width: 767px),
  projection and (max-width: 767px),
  tv and (max-width: 767px),
  handheld and (max-width: 767px) {
  .top_slider_wrapp .main-slider__item {
    background-image: none !important;
    background-color: #fff;
    background-color: var(--black_bg_black);
  }
  .top_slider_wrapp.view_2 .main-slider {
    border-bottom: 1px solid #ececec;
    border-bottom-color: var(--stroke_black);
  }
  .top_slider_wrapp.view_2 > .main-slider,
  .top_slider_wrapp.view_2 .main-slider__item {
    /* min-height: 500px; */
    height: auto !important;
  }
  .top_slider_wrapp.view_2 .main-slider__item.light,
  .top_slider_wrapp.view_2 .main-slider__item.light .banner_title,
  .top_slider_wrapp.view_2 .main-slider__item.light,
  .top_slider_wrapp.view_2 .main-slider__item.light .banner_title h1,
  .top_slider_wrapp.view_2 .main-slider__item.light .banner_text,
  .top_slider_wrapp.view_2 .main-slider__item.light .banner_title a {
    color: #202020;
    color: var(--white_text_black);
  }
  .top_slider_wrapp .main-slider__item,
  .top_slider_wrapp .main-slider__item tr,
  .top_slider_wrapp .main-slider__item td,
  .top_slider_wrapp .main-slider {
    height: 350px;
  }
  .top_slider_wrapp.view_2 .main-slider__item tr.main_info,
  .top_slider_wrapp.view_2 .main-slider__item tr.main_info td.img {
    height: 280px;
  }
  .top_slider_wrapp.view_2 .main-slider__item td.text {
    display: none;
  }
  .top_slider_wrapp.view_2 .main-slider__item.center .main_info{
    display: block;
  }
  body .top_slider_wrapp .main-slider__item td.text {
    width: 100%;
  }
  .top_slider_wrapp.view_1 .main-slider__item .banner_title .stickers {
    display: flex;
    justify-content: center;
  }
  body .top_slider_wrapp .main-slider__item td.text.left .banner_title {
    margin-left: 10px;
  }
  body .top_slider_wrapp .main-slider__item td.text .banner_text,
  body .top_slider_wrapp .main-slider__item td.text .banner_title,
  body .top_slider_wrapp .main-slider__item td.text .banner_buttons,
  .main-slider__item.left .text .section {
    margin-left: 10px;
    margin-right: 10px;
  }
  body .top_slider_wrapp .main-slider__item td.text * {
    text-align: center;
  }

  .top_slider_wrapp .main-slider__item td.text.left .banner_text,
  .top_slider_wrapp .main-slider__item td.text.left .banner_buttons,
  .main-slider__item.left .text .section,
  .top_slider_wrapp .main-slider__item td.text.right .banner_text,
  body .top_slider_wrapp .main-slider__item td.text.right .banner_buttons,
  .main-slider__item.right .text .section {
    margin-left: 40px;
    margin-right: 40px;
  }

  .top_slider_wrapp.view_2 .main-slider__item .banner_title,
  .top_slider_wrapp.view_2 .main-slider__item .banner_title a,
  .top_slider_wrapp.view_2 .main-slider__item .banner_text,
  .top_slider_wrapp.view_2 .main-slider__item .banner_buttons {
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    width: 100%;
    color: var(--white_text_black);
  }
  .top_slider_wrapp.view_2 .main-slider__item td.img:not(.with_video) {
    display: block;
    position: relative;
    margin: auto;
  }
  .top_slider_wrapp.view_2 .main-slider__item.image td.img {
    display: table-cell;
  }
  body .top_slider_wrapp .main-slider__item td.img:not(.with_video),
  body .top_slider_wrapp .main-slider__item .text .banner_title .section {
    display: none;
  }
  .top_slider_wrapp.view_1 .image tr.main_info {
    display: block;
  }
  .top_slider_wrapp.view_2 .main-slider__item tr.adaptive_info {
    height: auto;
    text-align: center;
    background: #fff;
    background: var(--black_bg_black);
    display: block;
    padding: 30px 5vw;
  }
  .top_slider_wrapp.view_2 .main-slider__item tr.adaptive_info .tablet_text {
    height: auto;
    display: inline-block;
  }
  .top_slider_wrapp.view_2 .main-slider__item .banner_title .head-title {
    display: block;
    font-size: 23px;
    margin-bottom: 11px;
  }
  .top_slider_wrapp.view_2 .main-slider__item .banner_text {
    font-size: 14px;
    line-height: 24px;
    margin-top: 3px;
  }
  .top_slider_wrapp.view_2 .main-slider__item.left .banner_buttons {
    margin-top: 5px;
  }
  .top_slider_wrapp.view_2 .swiper-pagination-bullets.swiper-pagination-horizontal{
    top: 241px;
    bottom: auto;
  }
  .top_slider_wrapp.view_2 .main-slider__item td.img:not(.with_video) img {
    max-height: calc(100% - 10px);
    left: 50%;
    transform: translateX(-50%);
  }
  .top_slider_wrapp.view_2 .main-slider__item.image td.img img {
    transform: none;
  }
  .top_slider_wrapp.view_2 .main-slider__item .adaptive_info .stickers {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0;
    margin-bottom: 11px;
  }
  .top_slider_wrapp.view_2 .main-slider__item .adaptive_info .price_adaptive_wrapper {
    display: inline-flex;
    align-items: center;
    margin-top: 4px;
  }
  .top_slider_wrapp.view_2 .main-slider__item .adaptive_info .view_sale_block {
    display: block;
    margin-top: 4px;
    margin-right: 31px;
  }
  .top_slider_wrapp.view_2 .main-slider__item .adaptive_info .view_sale_block .icons {
    display: inline-block;
  }
  .top_slider_wrapp.view_2 .main-slider__item .adaptive_info .price_adaptive_wrapper .price_adaptive_wrapper_inner {
    text-align: left;
  }
  .top_slider_wrapp.view_2
    .main-slider__item
    .adaptive_info
    .price_adaptive_wrapper
    .price_adaptive_wrapper_inner
    .prices {
    margin-top: 3px;
  }
  .top_slider_wrapp.view_2
    .main-slider__item
    .adaptive_info
    .price_adaptive_wrapper
    .price_adaptive_wrapper_inner
    .sale_block {
    display: block;
  }
  .top_slider_wrapp.view_2 .main-slider__item .adaptive_info .banner_buttons.with_actions {
    margin-top: 12px;
  }
  .top_slider_wrapp.view_2 .main-slider__item .banner_buttons.with_actions .btn {
    padding: 13px 21px 13px;
  }
  .top_slider_wrapp.view_2 .main-slider__item .banner_buttons.with_actions > .btn:last-of-type {
    margin-right: 14px;
  }
  .top_slider_wrapp.view_2 .main-slider__item .adaptive_info .banner_buttons.with_actions .wrap {
    /* border: 1px solid #eee; */
    /* border-color: var(--stroke_black); */
    height: 42px;
    width: 42px;
    margin-right: 4px;
  }
  .top_slider_wrapp.view_2 .main-slider__item .adaptive_info .banner_buttons.with_actions .wrap:not(:hover) {
    border: 1px solid #eee;
    border-color: var(--stroke_black);
    background: var(--black_bg_black);
    height: 42px;
    width: 42px;
    margin-right: 4px;
  }
  .top_slider_wrapp.view_2 .main-slider__item .adaptive_info .banner_buttons.with_actions .wrap:not(.added) svg * {
    fill: #999;
  }
  .top_slider_wrapp.view_2 .wrapper_video {
    height: 280px;
    overflow: hidden;
  }
  .top_slider_wrapp.view_3 .main-slider__item,
  .top_slider_wrapp.view_3 .main-slider__item tr,
  .top_slider_wrapp.view_3 .main-slider__item td,
  .top_slider_wrapp.view_3 .main-slider {
    height: auto;
  }
  .top_slider_wrapp.view_3 .main-slider__item tr {
    background-size: cover;
    opacity: 1;
    padding-top: 68.75%;
    display: block !important;
  }
  .top_slider_wrapp.view_3 .main-slider__item td.text {
    display: none;
  }
  .top_slider_wrapp.view_3 .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 8px;
  }

  /*video*/
  .svg.svg-playpause {
    display: none;
  }
  .top_slider_wrapp.view_2 .img.with_video .video_block {
    display: none;
  }
  .top_slider_wrapp.view_3 .image.wvideo .img.with_video .play.btn-video {
    position: absolute;
    transform: translate3d(-50%, -50%, 0px);
    top: 50%;
    left: 50%;
  }
}
@media (max-width: 450px) {
  body .top_slider_wrapp .main-slider__item td.text.left .banner_text,
  body .top_slider_wrapp .main-slider__item td.text.left .banner_buttons,
  .main-slider__item.left .text .section,
  body .top_slider_wrapp .main-slider__item td.text.right .banner_text,
  body .top_slider_wrapp .main-slider__item td.text.right .banner_buttons,
  .main-slider__item.right .text .section {
    margin-left: 2px;
    margin-right: 2px;
  }
  body .top_slider_wrapp .main-slider__item td.text .banner_text {
    margin: 2px 2px 0px;
    font-size: 13px;
    line-height: 22px;
    margin-top: 11px;
    max-height: none;
  }
  .top_slider_wrapp.view_1 .main-slider__item .banner_buttons a {
    font-size: 10px;
    line-height: 12px;
    padding: 10px 14px 8px;
  }
  body .top_slider_wrapp .main-slider__item {
    background-size: 225% auto;
  }
  .top_slider_wrapp .main-slider__item,
  .top_slider_wrapp .main-slider__item td,
  .top_slider_wrapp .main-slider__item tr,
  .top_slider_wrapp .main-slider {
    height: 280px;
  }
  .top_slider_wrapp.view_1 .main-slider__item .wraps_buttons .wrap {
    height: 32px;
    width: 32px;
  }
  .top_slider_wrapp.view_2 .main-slider__item tr.main_info,
  .top_slider_wrapp.view_2 .main-slider__item tr.main_info td.img {
    height: 250px;
  }
  .top_slider_wrapp.view_2 .main-slider__item td.img:not(.with_video) {
    width: 80%;
  }
  .top_slider_wrapp.view_2 .main-slider__item td.img:not(.with_video) img {
    max-width: 100%;
  }
  .top_slider_wrapp.view_2 .main-slider__item tr.adaptive_info {
    padding: 27px 20px;
  }
  .top_slider_wrapp.view_2 .main-slider__item .adaptive_info .stickers {
    display: none;
  }
  .top_slider_wrapp.view_2 .main-slider__item .banner_title .head-title {
    font-size: 18px;
  }
  .top_slider_wrapp.view_2 .main-slider__item .adaptive_info .votes_block {
    display: none;
  }
  .top_slider_wrapp.view_2 .main-slider__item .banner_text {
    font-size: 13px;
    line-height: 22px;
    margin-top: 3px;
    max-height: none;
  }
  .top_slider_wrapp.view_2 .main-slider__item .adaptive_info .price_adaptive_wrapper {
    justify-content: center;
    margin-top: 13px;
  }
  .top_slider_wrapp.view_2 .main-slider__item .adaptive_info .price_adaptive_wrapper .price_adaptive_wrapper_inner {
    text-align: center;
  }
  .top_slider_wrapp.view_2 .main-slider__item .adaptive_info .view_sale_block {
    display: none;
  }
  .top_slider_wrapp.view_2 .main-slider__item .adaptive_info .banner_buttons.with_actions {
    margin-top: 11px;
  }
  .top_slider_wrapp.view_2 .main-slider__item .banner_buttons.with_actions > .btn:last-of-type {
    margin: 12px;
  }
  .top_slider_wrapp.view_2 .swiper-pagination-bullets.swiper-pagination-horizontal{
    top: 211px;
  }
}
