.add_review{margin:0 0 39px;position:relative;}
.add_review:after{content:"";position:absolute;left:0;right:0;top:50%;height:1px;background:#ececec;}
.add_review .button_wrap{position:relative;padding:0 33px 0 0;display:inline-block;vertical-align:top;background:#FFF;z-index:1;}
/*.add_review .button_wrap .btn{padding:16px 27px;}*/