{
  "plugins": [
    "babel-plugin-transform-object-rest-spread",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    "babel-plugin-syntax-dynamic-import"
  ]
}