<div id="basket-root" class="bx-basket bx-step-opacity" >
<div class="flexbox flexbox--row basket-items-list">
    <div class="basket-items-list-outer">

        <div class="basket-items-list-wrapper basket-items-list-wrapper-height-fixed" id="basket-items-list-wrapper">
            <div class="basket-items-list-container" id="basket-items-list-container">
                <div class="basket-items-list">
                    <table class="basket-items-list-table" id="basket-item-table">
                        <tbody>
                        <template v-for="arElement in getBasketItems">
                            <tr class="basket-items-list-item-wrapper">
                                <td class="basket-items-list-item-picture">
                                    <div class="basket-item-block-image">
                                        <a :href="arElement.DETAIL_PAGE_URL" class="basket-item-image-link">
                                            <img
                                                    data-lazyload=""
                                                    class="basket-item-image lazyloaded"
                                                    v-if="arElement.DETAIL_PICTURE_SRC !=''"
                                                    :alt="arElement.NAME"
                                                    :src="arElement.DETAIL_PICTURE_SRC"
                                                    :data-src="arElement.DETAIL_PICTURE_SRC"
                                            >
                                        </a>
                                    </div>
                                </td>
                                <td class="basket-items-list-item-descriptions-inner" >
                                    <div class="basket-item-block-info">
                                        <span class="basket-item-actions-remove" v-on:click="setQuantityElement(arElement.ID,'del')"></span>
                                        <div class="stickers-basket stickers "></div>
                                        <h2 class="basket-item-info-name">
                                            <a  :href="arElement.DETAIL_PAGE_URL" class="basket-item-info-name-link">
                                                <span>{{arElement.NAME}}</span>
                                            </a>
                                        </h2>
                                        <div class="basket-items-list-item-warning-container" v-if="arElement.DELAY==='Y'">
                                            <div class="alert alert-warning text-center">Товара <b>нет в наличии</b> на выбранном пункте.</div>
                                        </div>
                                    </div>
                                </td>
                                <td class="basket-items-list-item-amount-outer">
                                    <div class="basket-item-amount">
                                        <span class="basket-item-btn-minus"  v-on:click="setQuantityElement(arElement.ID,'minus')" ></span>
                                        <div class="basket-item-amount-filed-block">
                                            <input type="text" class="basket-item-amount-filed":value="arElement.QUANTITY" >
                                        </div>
                                        <span class="basket-item-btn-plus" v-on:click="setQuantityElement(arElement.ID,'plus')"></span>

                                    </div>
                                    <div class="basket-items-list-item-price basket-items-list-item-price-for-one hidden-xs1">
                                        <div class="basket-item-price">
                                            <div class="basket-item-price-current">
                                                <span class="basket-item-price-current-text">
                                                    {{arElement.FULL_PRICE_FORMATED}}/<div class="basket-item-amount-field-description">{{arElement.MEASURE_NAME}}</div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="basket-items-list-item-price">
                                    <div class="basket-item-price"><div class="basket-item-price-current"><div class="basket-item-price-current-value">{{arElement.SUM_FULL_PRICE_FORMATED}}</div></div></div>
                                    <div class="basket-items-list-item-removes">
                                        <div class="basket-item-block-actions">
                                            <span class="basket-item-actions-remove" v-on:click="setQuantityElement(arElement.ID,'del')"></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="basket-services-list-item-container hidden" id="basket-services-item-44884" data-entity="basket-services-item" data-id="44884">
                                <td class="col_with_services" colspan="4">
                                    <div class="services_in_basket_page buy_services_wrap w_picture" data-parent_product="157597">

                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="basket-total-outer">
        <div class="basket-total-block sticky_top">
            <div class="basket-checkout-container visible">
                <div class="basket-checkout-section">
                    <div class="basket-checkout-section-inner">
                        <div class="basket-checkout-section-left">
                            <div class="basket-checkout-block basket-checkout-total">
                                <div class="basket-checkout-block-total-inner">
                                    <div class="basket-checkout-total-title">Итого:</div>
                                    <div class="basket-coupon-block-total-price-current">{{sumBasket.PRICE_FORMATED}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="basket-checkout-section-right">
                            <div class="basket-checkout-block basket-checkout-btn checkout-order">
                                <div :class="{'btn btn-lg btn-default basket-btn-checkout':true,'disabled':sumBasket.PRICE_FORMATED === 0}" @click="nextStep2Order">Перейти к оформлению</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>