<div id="basket-root" class="bx-basket bx-step-opacity" >
<div class="flexbox flexbox--row basket-items-list">
    <div class="basket-items-list-outer">

        <div class="basket-items-list-wrapper basket-items-list-wrapper-height-fixed" id="basket-items-list-wrapper">
            <div class="basket-items-list-container" id="basket-items-list-container">
                <div class="basket-items-list">
                    <table class="basket-items-list-table" id="basket-item-table">
                        <tbody>
                        <template v-for="arElement in getBasketItems">
                            <tr class="basket-items-list-item-wrapper">
                                <td class="basket-items-list-item-picture">
                                    <div class="basket-item-block-image">
                                        <a :href="arElement.DETAIL_PAGE_URL" class="basket-item-image-link">
                                            <img
                                                    data-lazyload=""
                                                    class="basket-item-image lazyloaded"
                                                    v-if="arElement.DETAIL_PICTURE_SRC !=''"
                                                    :alt="arElement.NAME"
                                                    :src="arElement.DETAIL_PICTURE_SRC"
                                                    :data-src="arElement.DETAIL_PICTURE_SRC"
                                            >
                                        </a>
                                    </div>
                                </td>
                                <td class="basket-items-list-item-descriptions-inner" >
                                    <div class="basket-item-block-info">
                                        <span class="basket-item-actions-remove" v-on:click="setQuantityElement(arElement.ID,'del')"></span>
                                        <div class="stickers-basket stickers "></div>
                                        <h2 class="basket-item-info-name">
                                            <a  :href="arElement.DETAIL_PAGE_URL" class="basket-item-info-name-link">
                                                <span>{{arElement.NAME}}</span>
                                            </a>
                                        </h2>
                                        <div class="basket-items-list-item-warning-container" v-if="arElement.DELAY==='Y'">
                                            <div class="alert alert-warning text-center">Товара <b>нет в наличии</b> на выбранном пункте.</div>
                                        </div>
                                    </div>
                                    <div class="basket-items-list-item-amount-outer">
                                        <div class="basket-item-amount">
                                            <span class="basket-item-btn-minus"  v-on:click="setQuantityElement(arElement.ID,'minus')" ></span>
                                            <div class="basket-item-amount-filed-block">
                                                <input type="text" class="basket-item-amount-filed":value="arElement.QUANTITY" >
                                            </div>
                                            <span class="basket-item-btn-plus" v-on:click="setQuantityElement(arElement.ID,'plus')"></span>
                                        </div>
                                    </div>
                                </td>

                                <td class="basket-items-list-item-price">
                                    <div class="basket-items-list-item-removes"><div class="basket-item-block-actions"><span class="basket-item-actions-remove" v-on:click="setQuantityElement(arElement.ID,'del')"></span></div></div>
                                    <div class="basket-item-price"><div class="basket-item-price-current"><div class="basket-item-price-current-value">{{arElement.SUM_FULL_PRICE_FORMATED}}</div></div></div>
                                </td>
                            </tr>
                            <tr >
                                <td colspan="3">
                                <div class="product-accessories__info"><span class="additions__title product-accessories__title">Сопутствующие товары</span></div>
                                <div class="sb_block_product_slider">
                                    <div class="sb_block_product_slider_item">
                                        <a href="#" class="sb_block_product_slider_item__img"><img src="https://c.dns-shop.ru/thumb/st4/fit/320/250/a2c994fbcd96ce895b69941ca920f464/c038d4842aa7c44322a5d011762d9b8c2bbef597d6f62f156ce78d47b582e8cc.jpg" alt=""></a>
                                        <a href="#" class="sb_block_product_slider_item__price">399 ₽</a>
                                    </div>
                                    <div class="sb_block_product_slider_item">
                                        <a href="#" class="sb_block_product_slider_item__img"><img src="https://c.dns-shop.ru/thumb/st4/fit/320/250/dc32c31155b13257eae9173a5c8d00ec/cb04c31baadff4b86006f6886d5aed55756d436ea578202dfd0d653c05a5b585.jpg" alt=""></a>
                                        <a href="#" class="sb_block_product_slider_item__price">399 ₽</a>
                                    </div>
                                    <div class="sb_block_product_slider_item">
                                        <a href="#" class="sb_block_product_slider_item__img"><img src="https://c.dns-shop.ru/thumb/st4/fit/320/250/a2c994fbcd96ce895b69941ca920f464/c038d4842aa7c44322a5d011762d9b8c2bbef597d6f62f156ce78d47b582e8cc.jpg" alt=""></a>
                                        <a href="#" class="sb_block_product_slider_item__price">399 ₽</a>
                                    </div>
                                    <div class="sb_block_product_slider_item">
                                        <a href="#" class="sb_block_product_slider_item__img"><img src="https://c.dns-shop.ru/thumb/st4/fit/320/250/a2c994fbcd96ce895b69941ca920f464/c038d4842aa7c44322a5d011762d9b8c2bbef597d6f62f156ce78d47b582e8cc.jpg" alt=""></a>
                                        <a href="#" class="sb_block_product_slider_item__price">399 ₽</a>
                                    </div>
                                    <div class="sb_block_product_slider_item">
                                        <a href="#" class="sb_block_product_slider_item__img"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.4261 5.75666C12.719 5.46376 13.1939 5.46376 13.4868 5.75666L19.1998 11.4697C19.3405 11.6103 19.4195 11.8011 19.4195 12C19.4195 12.1989 19.3405 12.3897 19.1998 12.5303L13.4868 18.2433C13.1939 18.5362 12.719 18.5362 12.4261 18.2433C12.1332 17.9504 12.1332 17.4755 12.4261 17.1827L16.8588 12.75H5.35547C4.94126 12.75 4.60547 12.4142 4.60547 12C4.60547 11.5858 4.94126 11.25 5.35547 11.25H16.8588L12.4261 6.81732C12.1332 6.52442 12.1332 6.04955 12.4261 5.75666Z" fill="black"></path></svg></a>
                                        <a href="#" class="sb_block_product_slider_item__text">Смотреть все</a>
                                    </div>

                                </div>
                                </td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="basket-total-outer">
        <div class="basket-total-block sticky_top">
            <div class="basket-checkout-container visible">
                <div class="basket-checkout-section">
                    <div class="basket-checkout-section-inner">
                        <div class="basket-checkout-section-left">
                            <div class="basket-checkout-block basket-checkout-total">
                                <div class="basket-checkout-block-total-inner">
                                    <div class="basket-checkout-total-title">Итого:</div>
                                    <div class="basket-coupon-block-total-price-current">{{sumBasket.PRICE_FORMATED}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="basket-checkout-section-right">
                            <div class="basket-checkout-block basket-checkout-btn checkout-order">
                                <div :class="{'btn btn-lg btn-default basket-btn-checkout':true,'disabled':sumBasket.PRICE_FORMATED === 0}" @click="nextStep2Order">Перейти к оформлению</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>