.services_in_product .services-item__buy > div,
.services_in_product .services-item__info > div {
  display: inline-block;
}

.services_in_product .counter_block_inner .counter_block:not(.big) {
  width: 67px;
  height: 23px;
}
.services_in_product .counter_block:not(.big) .plus,
.services_in_product .counter_block .minus:not(.big) {
  width: 13px;
}
.services_in_product .counter_block .minus {
  left: 4px;
}
.services_in_product .counter_block .plus {
  right: 4px;
}
.services_in_product .counter_block .minus svg {
  width: 9px;
}
.services_in_product .counter_block .plus svg {
  width: 9px;
  height: 9px;
}

.services_in_product .counter_block:not(.big) input[type="text"] {
  height: 23px;
  padding: 1px 3px 3px;
  vertical-align: top;
  width: 36px;
}

.services_in_product .counter_block_inner {
  display: block !important;
}
.services_in_product .counter_block_inner .counter_block {
  display: block !important;
}

.services_in_product .cost.prices .price {
  display: block;
}

.services_in_product .services-item__info .services-item__title {
  line-height: 1.47em;
}

.services_in_product .cost.prices .price {
  display: block;
}

.services_in_product .services-item__info {
  width: calc(100% - 180px);
  padding: 0;
  display: flex;
  position: relative;
}
.services_in_product .services-item__cost {
  width: 180px;
  display: flex;
  justify-content: flex-end;
}

.services_in_product .services-item__cost .js-info-block {
  z-index: 400;
}

.services_in_product .cost.prices > div:not(.js-info-block) .price:not(.discount) {
  font-size: 1em;
  line-height: 1.27em;
}
.services_in_product .cost.prices > div:not(.js-info-block) .price.discount .values_wrapper {
  font-size: inherit;
  line-height: inherit;
}
.services_in_product .cost.prices > div:not(.js-info-block) .price {
  text-align: right;
}
.services_in_product .cost.prices > div:not(.js-info-block) .price.discount {
  font-size: 0.733em;
  line-height: 1.273em;
}

.services_in_product .services-item__wrapper {
  padding: 14px 23px 16px;
}

.services_in_product .services-item {
  margin-top: -1px;
}
.services_in_product .services-item:first-of-type {
  margin-top: 0;
}

/* #main .services_in_product .onoff input[type="checkbox"] + label{padding-left: 46px;} */
.services_in_product .counter_wrapp {
  padding-top: 0px;
}
.services_in_product .filter input[type="checkbox"] + label {
  margin-bottom: 0;
}

.services_in_product .services-item:not(.services_on) .counter_wrapp {
  display: none;
}
/* .services_in_product .services-item.services_on .services-item__cost{justify-content: space-between;align-items: center;} */

.services_in_product .services-item:not(.services_on) .cost.prices > div:not(.js-info-block) .price {
  opacity: 0.5;
}

.buy_services_wrap .cost.prices .more-item-info {
  display: none;
}
.buy_services_wrap .cost.prices .more-item-info + .price_matrix_wrapper {
  padding-left: 0;
}

/*announce*/
.services_in_product.services_compact .services-item__wrapper {
  padding: 4px 0px 4px;
}
.services_in_product.services_compact .services-item {
  border: none;
}

.services_in_product.services_compact .services-item.services_on .services-item__wrapper {
  position: relative;
}
.services_in_product.services_compact .services-item .services-item__inner {
  align-items: flex-start;
  justify-content: space-between;
}
.services_in_product.services_compact .services-item .services-item__cost,
.services_in_product.services_compact .services-item.services_on .services-item__cost {
  justify-content: flex-end;
}

.services_in_product.services_compact .services-item.services_on .services-item__info {
  padding-bottom: 28px;
}
.services_in_product.services_compact .services-item.services_on .services-item__buy {
  position: absolute;
  bottom: 0;
  left: 46px;
}

.services_in_product.services_compact .services-item__info {
  max-width: calc(100% - 90px);
  width: auto;
}
.services_in_product.services_compact .services-item__cost {
  max-width: 90px;
  width: auto;
  flex-shrink: 0;
}
.services_in_product.services_compact .services-item__title {
  padding-right: 4px; /*text-overflow: ellipsis;*/
  overflow: hidden;
}
body .services_in_product.services_compact .cost {
  margin-top: 2px;
}
.services_in_product.services_compact .services-item__title {
  font-size: 0.867em;
  line-height: 1.385em;
}
.services_in_product.services_compact .services-item__title span {
  vertical-align: middle;
}
.services_in_product.services_compact .cost.prices > div:not(.js-info-block) .price:not(.discount) {
  font-size: 0.867em;
  line-height: 1.385em;
}

.services_in_product.services_compact .services-item__inner {
  background: url(../images/dott.png) no-repeat;
  background-position: 0px 12px;
  background-repeat: repeat-x;
}
.services_in_product.services_compact .services-item__info .switch_block,
.services_in_product.services_compact .services-item__info .services-item__title > span,
.services_in_product.services_compact .services-item__cost {
  background: #fff;
  background-color: var(--black_bg_black);
}
.shadowed-block .services_in_product.services_compact .services-item__info .switch_block,
.basket_wrap .services_in_product.services_compact .services-item__info .switch_block,
.shadowed-block .services_in_product.services_compact .services-item__info .services-item__title > span,
.basket_wrap .services_in_product.services_compact .services-item__info .services-item__title > span,
.basket_wrap .services_in_product.services_compact .services-item__cost,
.shadowed-block .services_in_product.services_compact .services-item__cost {
  background-color: var(--card_bg_black);
}
.services_in_product.services_compact .services-item__title > a {
  background: #fff;
  background-color: var(--card_bg_black);
}
#main .services_in_product.services_compact .onoff input[type="checkbox"] + label {
  padding-left: 42px;
}
.services_in_product.services_compact .counter_block_inner .counter_block:not(.big) {
  width: 80px;
}
.services_in_product.services_compact .more-services-link {
  margin-top: 4px;
}
.buy_services_wrap.in_announce {
  padding-top: 17px;
}
.services_in_product.services_compact .services-item__info .services-item__title {
  padding-bottom: 5px;
}

.services_in_product.services_compact .services-item__info .services-item__title > span {
  position: relative;
  z-index: 2;
  word-break: break-word;
}
.services_in_product.services_compact .services-item__info .services-item__title > span:before {
  content: "";
  background: #fff;
  background-color: var(--black_bg_black);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -4px;
  z-index: -1;
}
.shadowed-block .services_in_product.services_compact .services-item__info .services-item__title > span:before{
  background-color: #FFF;
  background-color: var(--card_bg_black);
}

.services_compact .cost.prices .price {
  margin-right: 0;
}
.services_compact .price_matrix_wrapper .prices-wrapper {
  margin-right: 0;
  margin-left: 0;
}
.services_in_product.services_compact .services-item .services-item__cost {
  padding-left: 2px;
}

.shadowed-block .buy_services_wrap.in_announce {
  border-top: 1px solid #eee;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 23px;
  border-color: var(--stroke_black);
}
.buy_services_wrap.in_announce.in_main_5 {
  padding-top: 5px;
  padding-bottom: 15px;
}

/*basket fly*/
.services_in_basket.buy_services_wrap {
  max-width: 492px;
  padding-top: 10px;
}
.services_in_basket.buy_services_wrap .services_in_product.services_compact .services-item__info {
  max-width: calc(100% - 100px);
}
.services_in_basket.buy_services_wrap .services_in_product.services_compact .services-item__cost {
  max-width: 100px;
}
.services_in_basket.buy_services_wrap .services_in_product.services_compact .services-item .services-item__cost {
  padding-left: 4px;
}

/*slide services*/
.services_compact .services-item.hide_service {
  display: none;
}
.services_compact .services-item.order_top_service,
.services_compact .services-item.show_service {
  order: -1;
}
.buy_services_wrap.show_all .services_compact .services-item.hide_service {
  display: flex;
}
.services_compact .services-items,
.services_compact .services-item {
  display: flex;
  flex-direction: column;
}

/*basket top_hover*/
.basket_hover_block .services_include {
  text-align: right;
}
.basket_hover_block .services_include span {
  line-height: 1.385em;
}
.services_top_hover_wrap {
  padding-top: 5px;
}
.services_top_hover_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8px;
}
.services_top_hover_item_price > span {
  display: block;
}
.services_top_hover_item_price {
  text-align: right;
  padding-right: 6px;
}
.services_top_hover_item_price .price {
  font-size: 0.8em;
  line-height: 1.385em;
  display: block;
  color: #333;
  color: var(--white_text_black);
}
.services_top_hover_item_price .price_discount {
  font-size: 0.667em;
  line-height: 1.273em;
  display: block;
  text-decoration: line-through;
  color: #999;
}
.services_top_hover_item_info_inner {
  font-size: 0.8em;
  line-height: 1.385em;
  color: #333;
  color: var(--white_text_black);
}
.services_top_hover_item_title {
  padding-left: 11px;
  position: relative;
}
.services_top_hover_item_title:before {
  content: "";
  width: 3px;
  height: 3px;
  display: block;
  position: absolute;
  background-color: #365edc;
  border-radius: 100%;
  top: 6px;
  left: 0;
}
.services_top_hover_item_info {
  max-width: calc(100% - 105px);
}
.services_top_hover_item_price {
  max-width: 105px;
}
.services_top_hover_item {
  background: url(../images/dott.png) no-repeat;
  background-position: 0px 15px;
  background-repeat: repeat-x;
}
.services_top_hover_item_info {
  background-color: #fff;
  background-color: var(--card_bg_hover_black);
  padding-right: 5px;
}
.services_top_hover_item_price {
  background-color: #fff;
  background-color: var(--card_bg_hover_black);
  padding-left: 5px;
}

/*basket_page*/
.services_in_basket_page.buy_services_wrap .services_in_product.services_compact .services-item__info {
  max-width: calc(100% - 100px);
}
.services_in_basket_page.buy_services_wrap .services_in_product.services_compact .services-item__cost {
  max-width: 100px;
}
.services_in_basket_page.buy_services_wrap .services_in_product.services_compact .services-item .services-item__cost {
  padding-left: 4px;
}
.services_in_basket_page.buy_services_wrap .services_in_product.services_compact .services-item__title {
  padding-right: 7px;
}

/*order page*/
.need_img_padding .services_order_item_info {
  padding-left: 129px;
  color: var(--white_text_black);
}
.services_order_item_info {
  vertical-align: baseline;
}
body .bx-soa-item-table .bx-soa-item-tr.hidden_order_services {
  display: none !important;
}
#bx-soa-order #bx-soa-basket .bx-soa-item-table .w_order_services .bx-soa-item-td {
  padding-bottom: 0 !important;
}
.services-item-tr-padding {
  display: table-row;
}
.services-item-td-padding {
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
  border-color: var(--stroke_black);
}
.services_order_item_price {
  padding-left: 10px;
  color: var(--white_text_black);
}
#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-tr.w_order_services .bx-soa-item-td {
  border-bottom: none;
}
.services_order_item_info_inner {
  background: url(../images/dott.png) no-repeat;
  background-position: 0px 9px;
  background-repeat: repeat-x;
}
.services_order_item_info_inner > span {
  background-color: #fff;
  background-color: var(--black_bg_black);
}
.services_order_item_quantity {
  padding-right: 5px;
}
.services_order_item_price .price {
  font-size: 0.867em;
  line-height: 1.385em;
  display: block;
}
.services_order_item_price .price_discount {
  font-size: 0.733em;
  line-height: 1.273em;
  display: block;
  text-decoration: line-through;
  color: #777777;
  color: var(--light_basic_text_black);
}
.services_order_item_info_inner {
  font-size: 0.867em;
  line-height: 1.385em;
}
.services_order_item_title {
  position: relative;
  padding-left: 11px;
}
.services_order_item_title:before {
  content: "";
  width: 3px;
  height: 3px;
  display: block;
  position: absolute;
  background-color: #365edc;
  border-radius: 100%;
  top: 6px;
  left: 0;
}

/*share basket*/
.basket-share-service__item {
  background: url(../images/dott.png) no-repeat;
  background-position: 0px 14px;
  background-repeat: repeat-x;
}
.basket-share-service__item__info,
.basket-share-service__item_sum,
.basket-share-service__item__name {
  background: #fff;
  background-color: var(--black_bg_black);
}
.basket-share-detail__item:hover .basket-share-service__item__info,
.basket-share-detail__item:hover .basket-share-service__item_sum,
.basket-share-detail__item:hover .basket-share-service__item__name {
  background-color: var(--card_bg_hover_black);
}

@media (max-width: 991px) {
  .need_img_padding .services_order_item_info {
    padding-left: 110px;
  }
  .services_order_item_price {
    padding-right: 20px;
  }
  .services_order_item {
    display: flex;
    justify-content: space-between;
  }
  .services_order_item_info_inner {
    background: #fff;
    background: var(--black_bg_black);
  }
  .services_order_item {
    background: url(../images/dott.png) no-repeat;
    background-position: 0px 9px;
    background-repeat: repeat-x;
  }
  .services_order_item_info,
  .services_order_item_price {
    background-color: #fff;
    background-color: var(--black_bg_black);
  }
  .services_order_item_price {
    min-width: 110px;
  }
  .services-item-td-padding {
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .services_in_basket_page.buy_services_wrap .services-item__cost .price {
    text-align: left !important;
  }
  .services_in_basket_page.buy_services_wrap .services-item__cost > div {
    width: 100%;
  }
}

@media (min-width: 601px) {
  .services_in_product:not(.services_compact) .services-item.services_on .services-item__info {
    padding-right: 75px;
  }
  .services_in_product:not(.services_compact) .services-item.services_on .services-item__buy {
    position: absolute;
    right: 0;
  }
}

@media (max-width: 600px) {
  /* .services_in_product .services-item__inner{display: block;}
    .services_in_product .services-item__info, .services_in_product .services-item__buy{width: 100%;} */
  .services_in_product .services-item.services_on .services-item__wrapper {
    position: relative;
  }
  .services_in_product .services-item .services-item__inner {
    align-items: flex-start;
  }
  .services_in_product .services-item .services-item__cost,
  .services_in_product .services-item.services_on .services-item__cost {
    justify-content: flex-end;
  }
  .services_in_product .services-item.services_on .services-item__info {
    padding-bottom: 33px;
  }
  .services_in_product .services-item.services_on .services-item__buy {
    position: absolute;
    bottom: -1px;
    left: 53px;
  }

  .services_in_product .services-item__wrapper {
    padding-top: 18px;
    padding-bottom: 21px;
  }
  .services_in_product .services-item__info {
    width: calc(100% - 90px);
  }
  .services_in_product .services-item__cost {
    width: 90px;
    flex-shrink: 0;
  }
  .services_in_product .services-item__title {
    padding-right: 3px; /*text-overflow: ellipsis;*/
    overflow: hidden;
  }

  .services_in_product .js-show-info-block {
    display: none;
  }
}

@media (max-width: 520px) {
  .need_img_padding .services_order_item_info {
    padding-left: 20px;
  }
}
