.properties-group {
    width: 100%;
    margin: 0;
    color: #555;
    color: var(--basic_text_black);
    --group-padding: 15px;
    padding: 40px;
    background: #fff;
    background: var(--card_bg_black);
    border: 1px solid #ececec;
    border-color: var(--stroke_black);
    border-radius: 3px;
}
.properties-group__group{
    padding-top: var(--group-padding);
    padding-bottom: var(--group-padding);
}
.properties-group__group:first-child{
    padding-top: 0;
}
.properties-group__group:last-child{
    padding-bottom: 0;
    border: none;
}
.properties-group__group-name{
    font-size: 1.0667rem;
    line-height: calc(1em + 4px);
    color: #333;
    color: var(--white_text_black);
    margin-bottom: 14px;
}
.properties-group__item{
    display: flex;
    margin-bottom: 10px;
}
.properties-group__item:last-of-type{
    margin-bottom: 0;
}
.properties-group__name-wrap{
    position: relative;
    background: url("../images/dott.png") no-repeat;
    background-position: 0px calc((1em + 3px) / 2);
    background-repeat: repeat-x;
}
.properties-group__name-wrap,
.properties-group__value-wrap{
    font-size: 0.9333rem;
    line-height: calc(1em + 4px);
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.properties-group__value-wrap{
    background-color: #fff;
    background-color: var(--card_bg_black);
    position: relative;
}
.properties-group__name{
    background: #fff;
    background-color: var(--card_bg_black);
    padding-right: 10px;
    color: #666;
    color: var(--light_basic_text_black);
}
.properties-group__value{
    padding-left: 20px;
    color: #333;
    color: var(--white_text_black2);
}

/*hint*/
.properties-group .properties-group__hint.active .tooltip {
    opacity: 1;
    z-index: 204;
}
.properties-group .properties-group__hint .tooltip:after {
    left: 2px;
}
.properties-group .properties-group__hint {
    display: inline;
    position: relative;
    top: -1px;
}
.properties-group .icon {
    border: 1px solid #e5e5e5;
    border-color: var(--stroke_black);
    border-radius: 100%;
    text-align: center;
    padding: 2px 4px 0px;
    cursor: pointer;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}
.properties-group .icon i {
    color: #383838;
    color: var(--white_text_black);
    line-height: 11px;
    font-size: 11px;
    font-style: normal;
    display: inline-block;
    vertical-align: top;
}
.properties-group .properties-group__hint .icon:hover {
    background-color: var(--theme-base-color);
}
.properties-group .icon:hover i {
    color: #fff;
}
.properties-group .properties-group__hint .tooltip {
    left: 1px;
    text-align: left;
}
.properties-group .properties-group__name-whint-wrap {
    display: inline;
    padding-right: 10px;
    background-color: #fff;
    background-color: var(--card_bg_black);
}
.properties-group__name-wrap.whint{
    overflow: visible;
}
.properties-group .properties-group__name-whint-wrap .properties-group__name {
    padding-right: 0px;
}
.properties-group .properties-group__hint {
    position: relative;
    top: -1px;
    left: 2px;
    right: auto;
    display: inline;
}
.properties-group .properties-group__hint .icon {
    background-color: #fff;
    background-color: var(--card_bg_hover_black);
    position: relative;
}
.properties-group__hint .tooltip {
    position: absolute;
    left: -53px;
    top: 24px;
    line-height: 14px;
    z-index: 202;
    display: none;
    padding: 17px 20px 17px;
    min-width: 21px;
    max-width: 200px;
    font-size: 12px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: 400;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    background: #fff;
    background: var(--card_bg_hover_black);
}

.properties-group__hint .tooltip:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-width: 1px;
    border-bottom-color: #fff;
    border-bottom-color: var(--card_bg_hover_black);
    left: 22px;
    top: -5px;
}
/**/

@media (max-width: 500px) {
    .properties-group__item{
        flex-direction: column;
        margin-bottom: 14px;
    }
    .properties-group__name-wrap, 
    .properties-group__value-wrap{
         width: 100%;
     }   
    .properties-group__name,
    .properties-group__value{
        padding: 0;
    }
    .properties-group__name-wrap{
        background: none;
    }
    .properties-group {
        --group-padding: 24px;
        padding: 25px 40px;
    }
    .properties-group__name-wrap{
        font-size: 0.8667rem;
        line-height: calc(1em + 3px);
        margin-bottom: 9px;
    } 
    .properties-group__value-wrap{
        font-size: 1rem;
        line-height: calc(1em + 3px);
    }
    .properties-group__group-name{
        margin-bottom: 19px;
    }
    .properties-group__group{
        border-bottom: 1px dotted #ccc;
    }
}