<div class="row" >
    <div class="col-md-12">
        <div class="checkout-client">
            <div class="base-step">
                <div class="base-step-label__numbe">1</div>
                Данные покупателя
            </div>
            <div class="base-step-left-line">
                <div class="base-checkout-client-individual checkout-client__individual">
                    <div class="base-login-button base-checkout-client-individual__login-button"
                         v-if="!getIsAuthorizated">
                        <a rel="nofollow" title="Мой кабинет" class="base-login-button__link" data-event="jqm"
                           data-param-type="auth" data-name="auth" href="/personal/">
                            <div class="base-login-button__img"></div>
                            <div class="base-login-button__title">Есть учетная запись? Войти</div>
                        </a>
                    </div>
                    <div class="base-checkout-client-individual__input-row-container">
                        <user-properties></user-properties>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkout-client">
            <div class="base-step">
                <div class="base-step-label__numbe">2</div>
                Выберите способ получения
            </div>
            <div class="base-step-left-line">
                <div class="property-input" v-if="getPropertyByCode('CITY')">
                    <div class="sb-block-input input__input"><da-data-input :property="getPropertyByCode('CITY')" ajaxPath="daDataCity" :minLength="4" @select="onCitySelect"/></div>
                    <div class="sb-block-title"><label :for="'ORDER_PROP_' + getPropertyByCode('CITY')['ID']">Город:</label></div>
                </div>

                <div class="property-input" v-if="getPropertyByCode('ADDRESS')">
                    <div class="sb-block-input input__input"><da-data-input-address  :property="getPropertyByCode('ADDRESS')" ajaxPath="daDataAddress" :minLength="4" @select="onAddressSelect"/></div>
                    <div class="sb-block-title"><label :for="'ORDER_PROP_' + getPropertyByCode('ADDRESS')['ID']">{{getPropertyByCode('ADDRESS')['NAME']}}:</label></div>
                </div>
                <div class="checkout-delivery__vue-checkout-delivery">
                    <el-tabs v-model="activeNameDelivery" @tab-click="tabhandleClick">
                        <el-tab-pane label="Самовывоз" name="pickup">
                            <data-delivery-pickup :deliveryInfo="application.info.deliveryIdList" :info="application.info"></data-delivery-pickup>
                        </el-tab-pane>
                        <el-tab-pane label="Доставка" name="delivery">
                            <data-delivery :deliveryInfo="application.info.deliveryIdList" :info="application.info"></data-delivery>
                        </el-tab-pane>
                    </el-tabs>
                </div>
            </div>
        </div>
        <div class="checkout-client">
            <div class="base-step">
                <div class="base-step-label__numbe">3</div>
                Выберите способ оплаты
            </div>
            <div class="base-step-left-line">
                <div class="checkout-payment__vue-checkout-payment">
                    <el-tabs v-model="activeNamePay" @tab-click="tabhandleClick">
                        <el-tab-pane label="Онлайн" name="onlain"><payment-list></payment-list></el-tab-pane>
                        <el-tab-pane label="При получении" name="pickup" v-if="isPayCashItem"><payment-list-cash></payment-list-cash></el-tab-pane>
                    </el-tabs>
                </div>
            </div>
        </div>
        <div class="checkout-container__apply-wrapper">
            <div class="checkout-container__apply">
                <button class="btn btn-default" @click="onOrderClick"><span class="base-ui-button__text">Подтвердить заказ</span></button>
            </div>
        </div>
    </div>
</div>