.tanais-order {
  --color-primary-one-h: 34;
  --color-primary-one-s: 94%;
  --color-primary-one-l: 54%;

  --color-primary-two-h: 189;
  --color-primary-two-s: 100%;
  --color-primary-two-l: 30%;

  --color-block-header: hsl(0, 0%, 96%);
}